<div class="dropdown">
  <button class="dropdown-button">
    Nutritional Status Summary<i class="fa fa-table"></i>
  </button>
  <div class="dropdown-content">
    <li>
      <a routerLink="/home/nutritionalsummary"
        ><i class="fa fa-bar-chart"></i> WeightForAge Nutritional Summary</a
      >
    </li>
    <li>
      <a routerLink="/home/nutritionalsummaryheight"
        ><i class="fa fa-bar-chart"></i> HeightForAge Nutritional Summary</a
      >
    </li>
    <li>
      <a routerLink="/home/nutritionalsummaryweight"
        ><i class="fa fa-bar-chart"></i> WeightForHeight Nutritional Summary</a
      >
    </li>
  </div>
</div>
