

  
<body>
<div class="container">
      <div class="background-image"></div>
  <div class="top">
      <h1>
          CONTACTS
      </h1>
  </div>

  <div class="municipality">
    <h2>
        Municipality of San Juan
    </h2>
    <p>
      Engineering Office
      <span>MSWD Office</span>
      <span>Mayor's Office</span>
    </p>
    <p>
      (043) 575 3854
      <span>(043) 575 4180</span>
      <span>(043) 575 3210</span>
    </p>
  </div>

  <div class="municipality">
    <h2>
        National Offices
    </h2>
    <p>
      DILG Office
      <span>Fire Station Office</span>
      <span>Police Station</span>
    </p>
    <p>
      (043) 575 5435
      <span>(043) 575 3111</span>
      <span>(043) 575 4602</span>
    </p>
  </div>

  <div class="municipality">
    <h2>
        Emergency Hotlines
    </h2>
    <p>
      COVID19 Concerns: 09202106724
      <br>Ambulance: 0905669927
      <br>Transfer to Isolation Facility: 09185187769 or 09190807659
      <br>Emergency/Rescue: 09985905102
      <br>Disobedience to COVID19 Protocols & Municipal Ordinance: 09153850205
      <br>Disinfection: 09272936770
    </p>
  </div>
</div>
</body>