<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="navbar">
        <div class="navbar-content">
          <div class="navbar-logo"></div>
          <div class="logo-text">SAN JUAN BATANGAS</div>
        </div>
        <ul class="navbar-list">
          <li>
            <a routerLink="/childreninfo">
                <i class="fa fa-user-circle"></i> Profile
            </a>
          </li>
          <li>
            <a routerLink="/healthrecords">
                <i class="fa fa-file-text-o"></i> Records
            </a>
          </li>
          <li>
            <a routerLink="/monthlyrecords">
                <i class="fa fa-calendar"></i> Monthly Records
            </a>
          </li>
          <li>
            <a routerLink="/bmi">
                <i class="fa fa-calculator"></i> BMI Calculator
            </a>
          </li>
          <li>
            <button class="menu-button">
              <i class="fa fa-reorder"></i>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/profiletable">
                      <i class="fa fa-table"></i> Profile Table
                  </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-bar-chart"></i> Barangay Ranking
                  </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-heartbeat"></i> BMI Result
                  </a>
                </li>
                <li>
                  <a routerLink="/healthrecordstable">
                      <i class="fa fa-table"></i> Children Table
                  </a>
                </li>
                <li>
                  <a routerLink="/bwirtable">
                      <i class="fa fa-table"></i> Baseline Weight and Immunization Records table
                  </a>
                </li>
                <li>
                  <a routerLink="/monthlyheightrecordstable">
                      <i class="fa fa-table"></i> Monthly Records Result Table
                  </a>
                </li>
                <li>
                  <a routerLink="/home">
                      <i class="fa fa-sign-out"></i> Log Out
                  </a>
                </li>
              </ul>
            </button>
          </li>
        </ul>
      </div>
      <div class="background-image"></div>
    <div class="container">
        <div class="navigation-buttons">
            <button routerLink="/healthrecords">Health Records</button>
            <button routerLink="/quarterlyrecords">Quarterly Records</button>
            <button routerLink="/baselineweight">BaseLine</button>
            <button routerLink="/nutritionalstatus">Nutritional Status</button>
          </div>
  <fieldset class="fieldset1">
      <legend class="legend1"> Baseline Weight and Immunization Records of PreSchool Children (0-23 Months) </legend>
    <form>
      <div>
        <label for="HouseholdNumber">Household Number:</label>
        <input type="text" id="HouseholdNumber" name="HouseholdNumber" ngModel required>
      </div>
      <div>
        <label for="NameOfHouseholdHead">Name Of Household Head:</label>
        <input type="text" id="NameOfHouseholdHead" name="NameOfHouseholdHead" ngModel required>
      </div>
      <div>
        <label for="birthday">Date of Birth:</label>
        <input type="date" id="birthday" name="birthday" ngModel required>
      </div>
      <fieldset>
        <div>
        <legend>-Date of Immunization-</legend>
        </div>
      <div>
        <label for="bcgDate">Date of BCG Immunization:</label>
        <input type="date" id="bcgDate" name="bcgDate">
      </div>
      <div>
        <label for="hepBDate">Date of HepB BD Immunization:</label>
        <input type="date" id="hepBDate" name="hepBDate">
      </div>
      <div>
        <label for="penta1Date">Date of Penta 1 Immunization:</label>
        <input type="date" id="penta1Date" name="penta1Date">
      </div>
      <div>
        <label for="penta2Date">Date of Penta 2 Immunization:</label>
        <input type="date" id="penta2Date" name="penta2Date">
      </div>
      <div>
        <label for="penta3Date">Date of Penta 3 Immunization:</label>
        <input type="date" id="penta3Date" name="penta3Date">
      </div>
      <div>
        <label for="pcv1Date">Date of PCV 1 Immunization:</label>
        <input type="date" id="pcv1Date" name="pcv1Date">
      </div>
      <div>
        <label for="pcv2Date">Date of PCV 2 Immunization:</label>
        <input type="date" id="pcv2Date" name="pcv2Date">
      </div>
      <div>
        <label for="pcv3Date">Date of PCV 3 Immunization:</label>
        <input type="date" id="pcv3Date" name="pcv3Date">
      </div>
      <div>
        <label for="opv1Date">Date of OPV 1 Immunization:</label>
        <input type="date" id="opv1Date" name="opv1Date">
      </div>
      <div>
        <label for="opv2Date">Date of OPV 2 Immunization:</label>
        <input type="date" id="opv2Date" name="opv2Date">
      </div>
      <div>
        <label for="opv3Date">Date of OPV 3 Immunization:</label>
        <input type="date" id="opv3Date" name="opv3Date">
      </div>
      <div>
        <label for="ipvDate">Date of IPV Immunization:</label>
        <input type="date" id="ipvDate" name="ipvDate">
      </div>
      <div>
        <label for="mcv1Date">Date of MCV 1 Immunization:</label>
        <input type="date" id="mcv1Date" name="mcv1Date">
      </div>
      <div>
        <label for="mcv2Date">Date of MCV 2 Immunization:</label>
        <input type="date" id="mcv2Date" name="mcv2Date">
      </div>
      </fieldset>
      <div>
        <label>NBS Done? Y/N:</label>
        <input type="radio" id="nbsDoneYes" name="nbsDone" [(ngModel)]="nbsDone" value="Yes" required>
        <label for="nbsDoneYes">Yes</label>
        <input type="radio" id="nbsDoneNo" name="nbsDone" [(ngModel)]="nbsDone" value="No" required>
        <label for="nbsDoneNo">No</label>
      </div>
      <fieldset>
        <div>
        <legend>-Weighing-</legend>
        </div>
      <div>
        <label for="dateOfWeighing">Date of Weighing:</label>
        <input type="date" id="dateOfWeighing" name="dateOfWeighing" ngModel required>
      </div>
      <div>
        <label for="ageInMonth">Age in Months:</label>
        <input type="text" id="ageInMonth" name="ageInMonth" ngModel required>
      </div>
      <div>
        <label for="weight">Weight (kg.):</label>
        <input type="text" id="weight" name="weight" ngModel required>
      </div>
      <div>
        <label for="weightStatus">Weight Status:</label>
        <input type="text" id="weightStatus" name="weightStatus" ngModel required>
      </div>
      </fieldset>
      <div>
        <label for="barangay">Barangay:</label>
        <select id="barangay" name="barangay" ngModel required>
          <option value="Barangay1">ABUNG</option>
          <option value="Barangay2">BALAGBAG</option>
          <option value="Barangay3">BARUALTE</option>
          <option value="Barangay4">BATAAN</option>
          <option value="Barangay5">BUHAY NA SAPA</option>
          <option value="Barangay6">BULSA</option>
          <option value="Barangay7">CALICANTO</option>
          <option value="Barangay8">CALITCALIT</option>
          <option value="Barangay9">CALUBCUB 1</option>
          <option value="Barangay10">CALUBCUB 2</option>
          <option value="Barangay11">CATMON</option>
          <option value="Barangay12">COLOCONTO</option>
          <option value="Barangay13">ESCRIBANO</option>
          <option value="Barangay14">HUGOM</option>
          <option value="Barangay15">IMELDA (TUBOG)</option>
          <option value="Barangay16">JANAOJANAO</option>
          <option value="Barangay17">LAIYA-IBABAO</option>
          <option value="Barangay18">LAIYA-APLAYA</option>
          <option value="Barangay19">LIBATO</option>
          <option value="Barangay20">LIPAHAN</option>
          <option value="Barangay21">MABALANOY</option>
          <option value="Barangay22">NAGSAULAY</option>
          <option value="Barangay23">MARAYKIT</option>
          <option value="Barangay24">MUZON</option>
          <option value="Barangay25">PALAHANAN 1</option>
          <option value="Barangay26">PALAHANAN 2</option>
          <option value="Barangay27">PALINGOWAK</option>
          <option value="Barangay28">PINAGBAYANAN</option>
          <option value="Barangay29">POBLACION</option>
          <option value="Barangay30">POCTOL</option>
          <option value="Barangay31">PULANGBATO</option>
          <option value="Barangay32">PUTINGBUHANGIN</option>
          <option value="Barangay33">QUIPOT</option>
          <option value="Barangay34">SAMPIRO</option>
          <option value="Barangay35">SAPANGAN</option>
          <option value="Barangay36">SICO 1</option>
          <option value="Barangay37">SICO 2</option>
          <option value="Barangay38">SUBUKIN</option>
          <option value="Barangay39">TALAHIBAN 1</option>
          <option value="Barangay40">TALAHIBAN 2</option>
          <option value="Barangay41">TICALAN</option>
          <option value="Barangay42">TIPAZ</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </fieldset>
    <router-outlet></router-outlet>

