<body>
  <div class="title">
    <h1>Municipality Of San Juan, Batangas</h1>
  </div>
  <div class="image-container">
    <form (submit)="login()">
      <div class="image-container1"></div>
      <div>
        <label for="username">Username or Email:</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="model.username"
          required
        />
      </div>

      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="model.password"
          required
        />
      </div>

      <div class="Login">
        <div>
          <button type="submit">Login</button>
        </div>
        <div style="text-align: center">
          <button class="bck-btn" routerLink="/">Back</button>
        </div>
      </div>
    </form>
  </div>
  <div class="background-image"></div>
</body>
<footer style="text-align: center; margin-top: 2rem">
  <p>&copy; {{ currentYear }} San Juan Batangas. All right reserved.</p>
</footer>
