<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="navbar">
    <div class="navbar-content">
        <div class="navbar-logo"></div>
        <div class="logo-text">SAN JUAN BATANGAS</div>
    </div>
    <ul class="navbar-list">
        <li>
            <a routerLink="/home">
                <i class="fa fa-home"></i> Home
            </a>
        </li>
        <li>
            <a routerLink="/about">
                <i class="fa fa-info-circle"></i> About
            </a>
        </li>
        <li>
            <a routerLink="/contacts">
                <i class="fa fa-address-book"></i> Contacts
            </a>
        </li>
        <li>
            <a routerLink="/calendar">
                <i class="fa fa-calendar"></i> Calendar
            </a>
        </li>
      <li>
        <button class="menu-button">
          <i class="fa fa-reorder"></i>
          <ul class="dropdown-menu">
            <li>
                <a routerLink="/login">
                    <i class="fa fa-user"></i> BHW Account
                </a>
            </li>
          </ul>
        </button>
      </li>
    </ul>
</div>

<div class="container">
    <div class="background-image"></div>
<div class="top">
    <h1>
        San Juan Health Office - Profile
    </h1>
</div>
    
<div class="mission">
    <h2>
        Mission
    </h2>
    <p>
        To uplift the quality of the people by ensuring sustainable growth and development through people empowerment,
        optimum utilization of resources, delivery of basic social service, 
        upholding public safety and promotion of economic activities that are supportive to the development of eco-tourism, 
        agricultural enterprise and industry sector of the municipality
    </p>
</div>

<div class="vision">
    <h2>
        Vision
    </h2>
    <p>
        SAN JUAN, BATANGAS is a premier eco-tourism destination in the country and agro-industrial center in CALABARZON, 
        anchored on a highly competitive economy with investor-friendly, resilient, safe and sustainable environment, 
        inspired by God-fearing, empowered and gender-responsive citizenry under a dynamic and participative leadership
    </p>
</div>

<div class="ten-commandments">
    <h2>
        Ten Commandments of Good Nutrition For Filipinos
    </h2>
    <p>
        1. Eat a variety of foods everyday to get the nutrients needed by the body.
        <br>2. Breastfeed infants exclusively from birth up to six months and then give appropriate complementary foods while continuing breastfeeding for two  years and beyond for optimum growth and development.
        <br>3. Eat more vegetables and fruits to get the essential vitamins, minerals, and fiber for regulation of body processes.
        <br>4. Consume fish, lean meat, poultry, egg, dried beans or nuts daily for growth and repair of body tissues.
        <br>5. Consume milk, milk products, and other calcium-rich food such as small fish and shellfish, everyday for healthy bones and teeth.
        <br>6. Consume safe foods and water to prevent diarrhea and other food-and water-borne diseases.
        <br>7. Use iodized salt to prevent Iodine Deficiency Disorders.
        <br>8. Limit intake of salty, fried, fatty, and sugar-rich foods to prevent cardiovascular diseases.
        <br>9. Attain normal body weight through proper diet and moderate physical activity to maintain good health and help prevent obesity.
        <br>10. Be physically active, make healthy food choices, manage stress, avoid alcoholic beverage, and do not smoke to help prevent lifestyle-related non-communicable disease.
    </p>
</div>
</div>
</body>