/* Styling for the table */
fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: hidden;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.6vw;
}

#bmiranking {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#bmiranking legend {
  font-size: 20px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styling for the header and section title */
h2 {
  margin: 20px 0;
  font-size: 24px;
}

.barangay-ranking {
  margin: 20px;
}

/* Styling for the section container */
.section-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Center the table in the section container */
.table-container {
  overflow-x: auto;
}

/* Adjust table responsiveness for small screens */
@media (max-width: 600px) {
  table {
    font-size: 14px;
  }
}
