<div class="barangay-ranking">
  <fieldset id="bmiranking">
    <section class="barangay-nutritional-status">
      <h2>Barangay HeightForAge Nutritional Status</h2>
      <label for="monthSelect">Select Month:</label>
      <select
        id="monthSelect"
        [(ngModel)]="selectedMonth"
        (change)="onMonthSelect()"
      >
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
      <table class="nutritional-status-table">
        <thead>
          <tr>
            <th>Barangay</th>
            <th>Severely Stunted</th>
            <th>Stunted</th>
            <th>Normal</th>
            <th>Tall</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barangay of barangayData">
            <td>{{ barangay.barangay }}</td>
            <td>{{ barangay.severelyStunted }}</td>
            <td>{{ barangay.stunted }}</td>
            <td>{{ barangay.normal }}</td>
            <td>{{ barangay.tall }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </fieldset>
</div>
<div class="container">
  <div class="chart-container">
    <canvas id="lineGraphHeight"></canvas>
  </div>
</div>
