.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.chart-container {
  max-width: 100%;
  border: 1px solid #ddd;
  margin: 5px; /* Add equal margin to all sides */
  padding: 10px; /* Add padding to create space inside the container */
}

.chart-container1 {
  max-width: 100%;
  border: 1px solid #ddd;
  margin: 5px; /* Add equal margin to all sides */
  padding: 10px; /* Add padding to create space inside the container */
}

canvas {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #ccc;
}
