<div class="chart-grid">
  <div class="left">
    <div class="chart-container">
      <div>
        <label for="yearFilter">Select Year:</label>
        <input
          type="number"
          id="yearFilter"
          [(ngModel)]="selectedYear"
          (change)="onYearFilterChange()"
          min="2020"
          max="2100"
        />
      </div>

      <canvas id="bmiChart"></canvas>
    </div>

    <div class="chart-container">
      <canvas id="barGraphHeight"></canvas>
    </div>

    <div class="chart-container1">
      <canvas id="barGraphAge"></canvas>
    </div>
  </div>
  <div class="right">
    <div class="chart-container1">
      <canvas id="genderChart"></canvas>
    </div>
    <div class="chart-container1">
      <canvas id="barGraphWH"></canvas>
    </div>
  </div>
</div>
