<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="navbar">
        <div class="navbar-content">
          <div class="navbar-logo"></div>
          <div class="logo-text">SAN JUAN BATANGAS</div>
        </div>
        <ul class="navbar-list">
          <li>
            <a routerLink="/childreninfo">
                <i class="fa fa-user-circle"></i> Profile
            </a>
          </li>
          <li>
            <a routerLink="/healthrecords">
                <i class="fa fa-file-text-o"></i> Records
            </a>
          </li>
          <li>
            <a routerLink="/monthlyrecords">
                <i class="fa fa-calendar"></i> Monthly Records
            </a>
          </li>
          <li>
            <a routerLink="/bmi">
                <i class="fa fa-calculator"></i> BMI Calculator
            </a>
          </li>
          <li>
            <button class="menu-button">
              <i class="fa fa-reorder"></i>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/profiletable">
                      <i class="fa fa-table"></i> Profile Table
                  </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-bar-chart"></i> Barangay Ranking
                  </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-heartbeat"></i> BMI Result
                  </a>
                </li>
                <li>
                  <a routerLink="/healthrecordstable">
                      <i class="fa fa-table"></i> Children Table
                  </a>
                </li>
                <li>
                  <a routerLink="/bwirtable">
                      <i class="fa fa-table"></i> Baseline Weight and Immunization Records table
                  </a>
                </li>
                <li>
                  <a routerLink="/monthlyheightrecordstable">
                      <i class="fa fa-table"></i> Monthly Records Result Table
                  </a>
                </li>
                <li>
                  <a routerLink="/home">
                      <i class="fa fa-sign-out"></i> Log Out
                  </a>
                </li>
              </ul>
            </button>
          </li>
        </ul>
      </div>
      <div class="background-image"></div>
    <div class="container">
        <div class="navigation-buttons">
            <button routerLink="/healthrecords">Health Records</button>
            <button routerLink="/quarterlyrecords">Quarterly Records</button>
            <button routerLink="/baselineweight">BaseLine</button>
            <button routerLink="/nutritionalstatus">Nutritional Status</button>

          </div>
  <fieldset>
      <legend> Quarterly Record of Weight and Weight Status 24-59 Months Pre-Schoolers </legend>
    <form>
      <div>
        <label for="Name-of-Child">Name Of Child:</label>
        <input type="text" id="Name-of-Child" name="Name-of-Child" ngModel required>
      </div>
      <div>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" ngModel required>
      </div>
      <div>
        <label for="ageinmonth.">Age in Month:</label>
        <input type="text" id="ageinmonth" name="ageinmonth" ngModel required>
      </div>
      <div>
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="weight" [(ngModel)]="weight">
      </div>
      <div>
        <label for="heightForLength">Height/Length:</label>
        <input type="number" id="heightForLength" name="heightForLength" [(ngModel)]="heightForLength">
      </div>
      <div>
        <label for="weightForLengthOrHeight">Weight/Length/Height:</label>
        <input type="Number" id="weightForLengthOrHeight" name="weightForLengthOrHeight" [(ngModel)]="weightForLengthOrHeight">
      </div>
      <div>
        <label for="NS">Nutritional Status (Nut1 Status):</label>
        <input type="text" id="NS" name="NS" ngModel required>
      </div>
      <div>
        <label for="barangay">Barangay:</label>
        <select id="barangay" name="barangay" ngModel required>
          <option value="ABUNG">ABUNG</option>
            <option value="BALAGBAG">BALAGBAG</option>
            <option value="BARUALTE">BARUALTE</option>
            <option value="BATAAN">BATAAN</option>
            <option value="BUHAY NA SAPA">BUHAY NA SAPA</option>
            <option value="BULSA">BULSA</option>
            <option value="CALICANTO">CALICANTO</option>
            <option value="CALITCALIT">CALITCALIT</option>
            <option value="CALUBCUB 1">CALUBCUB 1</option>
            <option value="CALUBCUB 2">CALUBCUB 2</option>
            <option value="CATMON">CATMON</option>
            <option value="COLOCONTO">COLOCONTO</option>
            <option value="ESCRIBANO">ESCRIBANO</option>
            <option value="HUGOM">HUGOM</option>
            <option value="IMELDA (TUBOG)">IMELDA (TUBOG)</option>
            <option value="JANAOJANAO">JANAOJANAO</option>
            <option value="LAIYA-IBABAO">LAIYA-IBABAO</option>
            <option value="LAIYA-APLAYA">LAIYA-APLAYA</option>
            <option value="LIBATO">LIBATO</option>
            <option value="LIPAHAN">LIPAHAN</option>
            <option value="MABALANOY">MABALANOY</option>
            <option value="NAGSAULAY">NAGSAULAY</option>
            <option value="MARAYKIT">MARAYKIT</option>
            <option value="MUZON">MUZON</option>
            <option value="PALAHANAN 1">PALAHANAN 1</option>
            <option value="PALAHANAN 2">PALAHANAN 2</option>
            <option value="PALINGOWAK">PALINGOWAK</option>
            <option value="PINAGBAYANAN">PINAGBAYANAN</option>
            <option value="POBLACION">POBLACION</option>
            <option value="POCTOL">POCTOL</option>
            <option value="PULANGBATO">PULANGBATO</option>
            <option value="PUTINGBUHANGIN">PUTINGBUHANGIN</option>
            <option value="QUIPOT">QUIPOT</option>
            <option value="SAMPIRO">SAMPIRO</option>
            <option value="SAPANGAN">SAPANGAN</option>
            <option value="SICO 1">SICO 1</option>
            <option value="SICO 2">SICO 2</option>
            <option value="SUBUKIN">SUBUKIN</option>
            <option value="TALAHIBAN 1">TALAHIBAN 1</option>
            <option value="TALAHIBAN 2">TALAHIBAN 2</option>
            <option value="TICALAN">TICALAN</option>
            <option value="TIPAZ">TIPAZ</option>
        </select>
      </div>
      <div>
        <label for="measurementMonth">Measurement Month:</label>
        <select id="measurementMonth" name="measurementMonth" ngModel required>
          <option value="January">January</option>
          <option value="March">March</option>
          <option value="June">June</option>
          <option value="September">September</option>
          <option value="December">December</option>
        </select>
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </fieldset>
    <router-outlet></router-outlet>
