<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div id="updateCon">
  <div id="updateFamilyModal" #updateFamilyModal class="modal">
    <div class="modal-content">
      <form>
        <legend class="legend1">Family Profile</legend>
        <div>
          <label for="houseHoldMember">No. of Household Members:</label>
          <input
            type="text"
            id="houseHoldMember"
            name="houseHoldMember"
            [(ngModel)]="familyData.houseHoldMember"
            required
          />
        </div>
        <fieldset>
          <div>
            <legend>-NUMBER OF CHILDREN-</legend>
          </div>
          <div>
            <label for="zeroToFiveMonthsOld">0-5 Months Old:</label>
            <input
              type="text"
              id="zeroToFiveMonthsOld"
              name="zeroToFiveMonthsOld"
              [(ngModel)]="familyData.zeroToFiveMonthsOld"
            />
          </div>
          <div>
            <label for="sixToTwentyThreeMonthsOld">6-23 Months Old:</label>
            <input
              type="text"
              id="sixToTwentyThreeMonthsOld"
              name="sixToTwentyThreeMonthsOld"
              [(ngModel)]="familyData.sixToTwentyThreeMonthsOld"
            />
          </div>
          <div>
            <label for="twentyFourToFiftyNineMonthsOld"
              >24-59 Months Old:</label
            >
            <input
              type="text"
              id="twentyFourToFiftyNineMonthsOld"
              name="twentyFourToFiftyNineMonthsOld"
              [(ngModel)]="familyData.twentyFourToFiftyNineMonthsOld"
            />
          </div>
          <div>
            <label for="belowSixtyMonthsOld">Below 60 Months Old:</label>
            <input
              type="text"
              id="belowSixtyMonthsOld"
              name="belowSixtyMonthsOld"
              [(ngModel)]="familyData.belowSixtyMonthsOld"
            />
          </div>
        </fieldset>
        <div>
          <label for="headOrSpouse">Name of Household Head/Spouse:</label>
          <input
            type="text"
            id="headOrSpouse"
            name="headOrSpouse"
            [(ngModel)]="familyData.headOrSpouse"
            required
          />
        </div>
        <div>
          <label for="occupation">Occupation:</label>
          <input
            type="text"
            id="occupation"
            name="occupation"
            [(ngModel)]="familyData.occupation"
            required
          />
        </div>
        <div>
          <label for="educationalAttainment">Educational Attainment:</label>
          <select
            id="educationalAttainment"
            name="educationalAttainment"
            [(ngModel)]="familyData.educationalAttainment"
          >
            <option value="EU">EU (Elementary Undergraduate)</option>
            <option value="EG">EG (Elementary Graduate)</option>
            <option value="HU">HU (Highschool Undergraduate)</option>
            <option value="HG">HG (Highschool Graduate)</option>
            <option value="CU">CU (College Undergraduate)</option>
            <option value="CG">CG (College Graduate)</option>
            <option value="V">V (Vocational)</option>
            <option value="O">O (Other)</option>
          </select>
        </div>
        <fieldset>
          <div>
            <legend>Check If:</legend>
          </div>
          <div>
            <label for="motherPregnant">Mother Pregnant:</label>
            <input
              type="checkbox"
              id="motherPregnant"
              name="motherPregnant"
              [(ngModel)]="familyData.motherPregnant"
            />
          </div>
          <div>
            <label for="familyPlanning"
              >Couple Practices Family Planning:</label
            >
            <input
              type="checkbox"
              id="familyPlanning"
              name="familyPlanning"
              [(ngModel)]="familyData.familyPlanning"
            />
          </div>
        </fieldset>
        <fieldset>
          <div>
            <legend>-BREASTFEEDING ≤ 6 MONTHS OLD-</legend>
          </div>
          <div>
            <legend>Check If:</legend>
          </div>
          <div>
            <label for="exclusiveBreastfeeding"
              >Exclusive Breastfeeding (EBF):</label
            >
            <input
              type="checkbox"
              id="exclusiveBreastfeeding"
              name="exclusiveBreastfeeding"
              [(ngModel)]="familyData.exclusiveBreastfeeding"
            />
          </div>
          <div>
            <label for="mixedMilkFeeding">Mixed Milk Feeding:</label>
            <input
              type="checkbox"
              id="mixedMilkFeeding"
              name="mixedMilkFeeding"
              [(ngModel)]="familyData.mixedMilkFeeding"
            />
          </div>
          <div>
            <label for="bottleFeeding">Bottle Feeding:</label>
            <input
              type="checkbox"
              id="bottleFeeding"
              name="bottleFeeding"
              [(ngModel)]="familyData.bottleFeeding"
            />
          </div>
        </fieldset>
        <fieldset>
          <div>
            <legend>Fill In:</legend>
          </div>
          <div>
            <label for="toiletType">Toilet Type:</label>
            <select
              id="toiletType"
              name="toiletType"
              [(ngModel)]="familyData.toiletType"
            >
              <option value="WS">WS (Water-Sealed)</option>
              <option value="OP">OP (Open Pit)</option>
              <option value="O">O (Other)</option>
              <option value="N">N (None)</option>
            </select>
          </div>
          <div>
            <label for="waterSource">Water Source:</label>
            <select
              id="waterSource"
              name="waterSource"
              [(ngModel)]="familyData.waterSource"
            >
              <option value="P">P (Piped)</option>
              <option value="W">W (Well)</option>
              <option value="S">S (Spring)</option>
            </select>
          </div>
          <div>
            <label for="foodProductionActivity"
              >Food Production Activity:</label
            >
            <select
              id="foodProductionActivity"
              name="foodProductionActivity"
              [(ngModel)]="familyData.foodProductionActivity"
            >
              <option value="VG">VG (Vegetable Gardening)</option>
              <option value="P/L">P/L (Poultry/Livestock)</option>
              <option value="FP">FP (Fishpond)</option>
            </select>
          </div>
        </fieldset>
        <fieldset>
          <div>
            <label>Check If:</label>
          </div>
          <div>
            <label>Household Using Iodized Salt:</label>
            <input
              type="checkbox"
              id="iodizedSalt"
              name="iodizedSalt"
              [(ngModel)]="familyData.iodizedSalt"
            />
          </div>

          <div>
            <label>Household Using IFR (Iron-Fortified Rice):</label>
            <input
              type="checkbox"
              id="ifr"
              name="ifr"
              [(ngModel)]="familyData.ifr"
            />
          </div>
        </fieldset>
        <div>
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            [(ngModel)]="familyData.date"
            required
          />
        </div>
        <div>
          <label for="measurementMonth">Measurement Month:</label>
          <select
            id="measurementMonth"
            name="measurementMonth"
            [(ngModel)]="familyData.measurementMonth"
          >
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <button class="close" (click)="closeUpdateFamilyModal()">Cancel</button>

        <button class="btn btn-primary" (click)="updateFamily()">
          Update Child
        </button>
      </form>
    </div>
  </div>
</div>

<fieldset class="fieldset1">
  <div class="filter-container">
    <label for="barangay">Barangay:</label>
    <select
      id="barangay"
      name="barangay"
      [(ngModel)]="selectedBarangay"
      (change)="filterRecords()"
      required
    >
      <option value="">ALL</option>
      <option value="ABUNG">ABUNG</option>
      <option value="BALAGBAG">BALAGBAG</option>
      <option value="BARUALTE">BARUALTE</option>
      <option value="BATAAN">BATAAN</option>
      <option value="BUHAY NA SAPA">BUHAY NA SAPA</option>
      <option value="BULSA">BULSA</option>
      <option value="CALICANTO">CALICANTO</option>
      <option value="CALITCALIT">CALITCALIT</option>
      <option value="CALUBCUB 1">CALUBCUB 1</option>
      <option value="CALUBCUB 2">CALUBCUB 2</option>
      <option value="CATMON">CATMON</option>
      <option value="COLOCONTO">COLOCONTO</option>
      <option value="ESCRIBANO">ESCRIBANO</option>
      <option value="HUGOM">HUGOM</option>
      <option value="IMELDA (TUBOG)">IMELDA (TUBOG)</option>
      <option value="JANAOJANAO">JANAOJANAO</option>
      <option value="LAIYA-IBABAO">LAIYA-IBABAO</option>
      <option value="LAIYA-APLAYA">LAIYA-APLAYA</option>
      <option value="LIBATO">LIBATO</option>
      <option value="LIPAHAN">LIPAHAN</option>
      <option value="MABALANOY">MABALANOY</option>
      <option value="NAGSAULAY">NAGSAULAY</option>
      <option value="MARAYKIT">MARAYKIT</option>
      <option value="MUZON">MUZON</option>
      <option value="PALAHANAN 1">PALAHANAN 1</option>
      <option value="PALAHANAN 2">PALAHANAN 2</option>
      <option value="PALINGOWAK">PALINGOWAK</option>
      <option value="PINAGBAYANAN">PINAGBAYANAN</option>
      <option value="POBLACION">POBLACION</option>
      <option value="POCTOL">POCTOL</option>
      <option value="PULANGBATO">PULANGBATO</option>
      <option value="PUTINGBUHANGIN">PUTINGBUHANGIN</option>
      <option value="QUIPOT">QUIPOT</option>
      <option value="SAMPIRO">SAMPIRO</option>
      <option value="SAPANGAN">SAPANGAN</option>
      <option value="SICO 1">SICO 1</option>
      <option value="SICO 2">SICO 2</option>
      <option value="SUBUKIN">SUBUKIN</option>
      <option value="TALAHIBAN 1">TALAHIBAN 1</option>
      <option value="TALAHIBAN 2">TALAHIBAN 2</option>
      <option value="TICALAN">TICALAN</option>
      <option value="TIPAZ">TIPAZ</option>
    </select>

    <label for="fromDate">FromDate:</label>
    <input
      type="date"
      id="fromDate"
      name="fromDate"
      [(ngModel)]="fromDate"
      (input)="filterRecords()"
    />

    <label for="toDate">ToDate:</label>
    <input
      type="date"
      id="toDate"
      name="toDate"
      [(ngModel)]="toDate"
      (input)="filterRecords()"
    />

    <label for="measurementMonth">Measurement Month:</label>
    <select
      id="measurementMonth"
      name="measurementMonth"
      [(ngModel)]="selectedMeasurementMonth"
      (change)="filterRecords()"
      required
    >
      <option value="">ALL</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>

    <button (click)="clearFilters()">Clear_Filters</button>
  </div>
</fieldset>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="familyProfile">
        <legend>Family Profile</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>Household Number</th>
                <th>No. of Household Members</th>
                <th>Children (0-5 months)</th>
                <th>Children (6-23 months)</th>
                <th>Children (24-59 months)</th>
                <th>Children (below 60 months)</th>
                <th>Household Head/Spouse Name</th>
                <th>Occupation</th>
                <th>Educational Attainment</th>
                <th>Pregnant</th>
                <th>Family Planning</th>
                <th>EBF</th>
                <th>Mixed Milk Feeding</th>
                <th>Bottle Feeding</th>
                <th>Toilet Type</th>
                <th>Water Source</th>
                <th>Food Production Activity</th>
                <th>Using Iodized Salt</th>
                <th>Using IFR (Iron-Fortified Rice)</th>
                <th>Date</th>
                <th>Measurement Month</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of family">
                <td>{{ record.houseHoldNumberId }}</td>
                <td>{{ record.houseHoldMember }}</td>
                <td>{{ record.zeroToFiveMonthsOld }}</td>
                <td>{{ record.sixToTwentyThreeMonthsOld }}</td>
                <td>{{ record.twentyFourToFiftyNineMonthsOld }}</td>
                <td>{{ record.belowSixtyMonthsOld }}</td>
                <td>{{ record.headOrSpouse }}</td>
                <td>{{ record.occupation }}</td>
                <td>{{ record.educationalAttainment }}</td>
                <td>{{ record.motherPregnant ? "Yes" : "No" }}</td>
                <td>{{ record.familyPlanning ? "Yes" : "No" }}</td>
                <td>
                  {{ record.exclusiveBreastfeeding ? "Yes" : "No" }}
                </td>
                <td>{{ record.mixedMilkFeeding ? "Yes" : "No" }}</td>
                <td>{{ record.bottleFeeding ? "Yes" : "No" }}</td>
                <td>{{ record.toiletType }}</td>
                <td>{{ record.waterSource }}</td>
                <td>{{ record.foodProductionActivity }}</td>
                <td>{{ record.iodizedSalt ? "Yes" : "No" }}</td>
                <td>{{ record.ifr ? "Yes" : "No" }}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.measurementMonth }}</td>
                <td>
                  <a class="btn btn-sm btn-outline-dark"
                    ><i class="fas fa-up-right-from-square"></i
                  ></a>
                  <button
                    (click)="openUpdateFamilyModal(record)"
                    class="update btn btn-sm btn-outline-warning"
                  >
                    Update
                  </button>
                  <button
                    (click)="removeFamily(record)"
                    class="delete btn btn-sm btn-outline-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="family.length === 0">No family records available</p>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="pagination">
    <button
      class="paginationButton"
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span>Children Profile Page {{ currentPage }}</span>
    <button
      class="paginationButton"
      (click)="goToPage(currentPage + 1)"
      [disabled]="endIndex >= family.length"
    >
      Next
    </button>
  </div>
</fieldset>
