<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar-content">
    <div class="navbar-logo"></div>
    <div class="logo-text">SAN JUAN BATANGAS</div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="background-image"></div>
  <div class="top">
    <h1>San Juan Health Office - Profile</h1>
  </div>

  <div class="mission">
    <h2>Mission</h2>
    <p>
      To uplift the quality of the people by ensuring sustainable growth and
      development through people empowerment, optimum utilization of resources,
      delivery of basic social service, upholding public safety and promotion of
      economic activities that are supportive to the development of eco-tourism,
      agricultural enterprise and industry sector of the municipality
    </p>
  </div>

  <div class="vision">
    <h2>Vision</h2>
    <p>
      SAN JUAN, BATANGAS is a premier eco-tourism destination in the country and
      agro-industrial center in CALABARZON, anchored on a highly competitive
      economy with investor-friendly, resilient, safe and sustainable
      environment, inspired by God-fearing, empowered and gender-responsive
      citizenry under a dynamic and participative leadership
    </p>
  </div>

  <div class="ten-commandments">
    <h2>Ten Commandments of Good Nutrition For Filipinos</h2>
    <p>
      - Eat a variety of foods everyday to get the nutrients needed by the body.
      <br />
      - Breastfeed infants exclusively from birth up to six months and then give
      appropriate complementary foods while continuing breastfeeding for two
      years and beyond for optimum growth and development.
      <br />
      - Eat more vegetables and fruits to get the essential vitamins, minerals,
      and fiber for regulation of body processes.
      <br />
      - Consume fish, lean meat, poultry, egg, dried beans or nuts daily for
      growth and repair of body tissues.
      <br />
      - Consume milk, milk products, and other calcium-rich food such as small
      fish and shellfish, everyday for healthy bones and teeth.
      <br />
      - Consume safe foods and water to prevent diarrhea and other food-and
      water-borne diseases.
      <br />
      - Use iodized salt to prevent Iodine Deficiency Disorders.
      <br />
      - Limit intake of salty, fried, fatty, and sugar-rich foods to prevent
      cardiovascular diseases.
      <br />
      - Attain normal body weight through proper diet and moderate physical
      activity to maintain good health and help prevent obesity.
      <br />
      - Be physically active, make healthy food choices, manage stress, avoid
      alcoholic beverage, and do not smoke to help prevent lifestyle-related
      non-communicable disease.
    </p>
  </div>

  <div class="top">
    <h1>CONTACTS</h1>
  </div>

  <div class="municipality">
    <h2>Municipality of San Juan</h2>
    <p>
      Engineering Office
      <span>MSWD Office</span>
      <span>Mayor's Office</span>
    </p>
    <p>
      (043) 575 3854
      <span>(043) 575 4180</span>
      <span>(043) 575 3210</span>
    </p>
  </div>

  <div class="municipality">
    <h2>National Offices</h2>
    <p>
      DILG Office
      <span>Fire Station Office</span>
      <span>Police Station</span>
    </p>
    <p>
      (043) 575 5435
      <span>(043) 575 3111</span>
      <span>(043) 575 4602</span>
    </p>
  </div>

  <div class="municipality">
    <h2>Emergency Hotlines</h2>
    <p>
      COVID19 Concerns: 09202106724
      <br />Ambulance: 0905669927 <br />Transfer to Isolation Facility:
      09185187769 or 09190807659 <br />Emergency/Rescue: 09985905102
      <br />Disobedience to COVID19 Protocols & Municipal Ordinance: 09153850205
      <br />Disinfection: 09272936770
    </p>
  </div>
</div>
<router-outlet></router-outlet>
