table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #79ac78;
  color: #fff;
}

th {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td {
  padding: 8px;
}

button {
  background-color: #79ac78;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #b0d9b1;
}

.fieldset1 {
  border-style: hidden;
}

.legend1 {
  text-align: center;
  font-size: 1.6vw;
  font-weight: bold;
}

fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: hidden;
}

label {
  text-align: center;
  font-weight: bold;
}

#userRecords {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#userRecords legend {
  font-size: 20px;
  font-weight: bold;
}

.edit-form {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.edit-form h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.edit-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.edit-form input {
  width: 95%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #79ac78;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #b0d9b1;
}

@media (max-width: 768px) {
  .userList label {
    max-width: 50px;
    font-size: 6px;
  }

  .userList button {
    font-size: 5px;
    max-width: 35px;
    padding: 5px 10px;
  }

  .result-table table {
    border-collapse: collapse;
    font-size: 10%;
  }

  .result-table th,
  .result-table td {
    font-size: 7.5px;
    font-weight: bold;
  }

  .result-table th {
    background-color: #79ac78;
    font-weight: lighter;
    font-weight: bold;
  }

  .edit-form {
    margin-top: 10px;
    max-width: 300px;
  }

  .edit-form h2 {
    font-size: 15px;
  }

  .edit-form label {
    font-size: 10px;
  }

  .edit-form input {
    font-size: 10px;
  }

  .button-container {
    margin-top: 10px;
    margin: 10px;
  }

  .button-container button {
    margin-right: 10px;
    padding: 5px 10px;
  }
}
