* {
  box-sizing: border-box;
  border: hidden;
}

fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: hidden;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.6vw;
}

#bmiranking {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#bmiranking legend {
  font-size: 20px;
  font-weight: bold;
}

.ranking-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 75%;
}

.barangay-ranking {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

#barGraph {
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Horizontally center the canvas */
  display: block; /* Ensure it takes full available width */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 5px;
}



/* dinagdag ko dyann sa modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  z-index:10;
}

.modal-content span {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: red;
}

