<div class="barangay-ranking">
  <fieldset id="bmiranking">
    <legend><h3>BMI RESULT BARANGAY RANKING TABLE</h3></legend>
    <div class="ranking-table">
      <label for="monthSelect">Select Month: </label>
      <select
        id="monthSelect"
        [(ngModel)]="selectedMonth"
        (change)="onMonthYearSelect()"
      >
        <option value="0">January</option>
        <option value="1">February</option>
        <option value="2">March</option>
        <option value="3">April</option>
        <option value="4">May</option>
        <option value="5">June</option>
        <option value="6">July</option>
        <option value="7">August</option>
        <option value="8">September</option>
        <option value="9">October</option>
        <option value="10">November</option>
        <option value="11">December</option>
      </select>
      <label for="monthSelect"> Select Year: </label>

      <input
        type="number"
        id="monthSelect"
        [(ngModel)]="selectedYear"
        (change)="onMonthYearSelect()"
      />
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Barangay</th>
            <th>Severely Underweight Count</th>
            <th>Underweight Count</th>
            <th>Healthy Weight Count</th>
            <th>Overweight Count</th>
            <th>Obese Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barangay of rankedBarangays; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ barangay.barangay }}</td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Severely underweight',
                  barangay.severelyUnderweight
                )
              "
            >
              {{ barangay.severelyUnderweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Underweight',
                  barangay.underweight
                )
              "
            >
              {{ barangay.underweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Healthy weight',
                  barangay.healthyweight
                )
              "
            >
              {{ barangay.healthyweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Overweight',
                  barangay.overweight
                )
              "
            >
              {{ barangay.overweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Obese',
                  barangay.obese
                )
              "
            >
              {{ barangay.obese }}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Display detailed information without using a separate dialog -->
      <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <span (click)="closeModal()">&times;</span>
          <div *ngIf="selectedBarangayInfo.length > 0">
            <table>
              <thead>
                <tr>
                  <th>Child Name</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let info of selectedBarangayInfo">
                  <td>{{ info.childName }}</td>
                  <td>{{ info.height }}</td>
                  <td>{{ info.weight }}</td>
                  <td>{{ info.resultMessage }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<div class="chart-container">
  <div>
    <label for="yearFilter">Select Year:</label>
    <input
      type="number"
      id="yearFilter"
      [(ngModel)]="selectedYear"
      (change)="onYearFilterChange()"
      min="2020"
      max="2100"
    />
  </div>

  <canvas id="bmiChart"></canvas>
</div>
