<div class="barangay-ranking">
  <fieldset id="bmiranking">
    <legend><h3>BMI RESULT BARANGAY RANKING TABLE</h3></legend>
    <div class="ranking-table">
      <label for="monthSelect">Select Month: </label>
      <select
        id="monthSelect"
        [(ngModel)]="selectedMonth"
        (change)="onMonthSelect()"
      >
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Barangay</th>
            <th>Severely Underweight Count</th>
            <th>Underweight Count</th>
            <th>Healthy Weight Count</th>
            <th>Overweight Count</th>
            <th>Obese Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barangay of rankedBarangays; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ barangay.barangay }}</td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Severely underweight',
                  barangay.severelyUnderweight
                )
              "
            >
              {{ barangay.severelyUnderweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Underweight',
                  barangay.underweight
                )
              "
            >
              {{ barangay.underweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Healthy weight',
                  barangay.healthyweight
                )
              "
            >
              {{ barangay.healthyweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Overweight',
                  barangay.overweight
                )
              "
            >
              {{ barangay.overweight }}
            </td>
            <td
              (click)="
                showDetailedInfoByCategory(
                  barangay.barangay,
                  'Obese',
                  barangay.obese
                )
              "
            >
              {{ barangay.obese }}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Display detailed information without using a separate dialog -->
      <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <span (click)="closeModal()">&times;</span>
          <div *ngIf="selectedBarangayInfo.length > 0">
            <table>
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let info of selectedBarangayInfo">
                  <td>{{ info.childName.firstName }}</td>
                  <td>{{ info.childName.lastName }}</td>
                  <td>{{ info.height }}</td>
                  <td>{{ info.weight }}</td>
                  <td>{{ info.resultMessage }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
