<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="navbar">
        <div class="navbar-content">
          <div class="navbar-logo"></div>
          <div class="logo-text">SAN JUAN BATANGAS</div>
        </div>
        <ul class="navbar-list">
          <li>
            <a routerLink="/childreninfo">
                <i class="fa fa-user-circle"></i> Profile
            </a>
          </li>
          <li>
            <a routerLink="/healthrecords">
                <i class="fa fa-file-text-o"></i> Records
            </a>
          </li>
          <li>
            <a routerLink="/monthlyrecords">
                <i class="fa fa-calendar"></i> Monthly Records
            </a>
          </li>
          <li>
            <a routerLink="/bmi">
                <i class="fa fa-calculator"></i> BMI Calculator
            </a>
          </li>
          <li>
            <button class="menu-button">
              <i class="fa fa-reorder"></i>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/profiletable">
                      <i class="fa fa-table"></i> Profile Table
                  </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart"></i> Barangay Ranking
                    </a>
                  </li>
                  <li>
                    <a href="#">
                        <i class="fa fa-heartbeat"></i> BMI Result
                    </a>
                  </li>
                  <li>
                    <a routerLink="/healthrecordstable">
                        <i class="fa fa-table"></i> Children Table
                    </a>
                  </li>
                  <li>
                    <a routerLink="/bwirtable">
                        <i class="fa fa-table"></i> Baseline Weight and Immunization Records table
                    </a>
                  </li>
                  <li>
                    <a routerLink="/monthlyheightrecordstable">
                        <i class="fa fa-table"></i> Monthly Records Result Table
                    </a>
                  </li>
                  <li>
                    <a routerLink="/home">
                        <i class="fa fa-sign-out"></i> Log Out
                    </a>
                  </li>
              </ul>
            </button>
          </li>
        </ul>
      </div>
      <div class="background-image"></div>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="healthRecords">
        <legend>Health Records</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Age</th>
                <th>Weight (kg)</th>
                <th>Height (cm)</th>
                <th>Vitamin</th>
                <th>Late Date Received</th>
                <th>Weight for Age</th>
                <th>Height for Age</th>
                <th>Height for Weight</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let record of healthRecords; let i = index" id="record-row">
                <td>{{ i + 1 }}</td>
                <td>{{ record.age }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.height }}</td>
                <td>{{ record.vitamin }}</td>
                <td>{{ record.lateDateReceived }}</td>
                <td>{{ record.weightForAge }}</td>
                <td>{{ record.heightForAge }}</td>
                <td>{{ record.heightForWeight }}</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="healthRecords.length === 0">No health records available</p>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>     
<router-outlet></router-outlet>