* {
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:hover,
input:focus,
select:hover,
select:focus {
  border-color: #79ac78;
}

/* Style submit button */
button[type="submit"] {
  background-color: #79ac78;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Style submit button on hover */
button[type="submit"]:hover {
  background-color: #b0d9b1;
}

.fieldset1 {
  border-style: hidden;
}

.legend2 {
  text-align: center;
  font-size: 1.6vw;
  font-weight: bold;
  margin-bottom: 10px;
}

fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
}

legend {
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #79ac78;
  color: #fff;
}

th {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td {
  padding: 8px;
}

button {
  background-color: #79ac78;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #b0d9b1;
}

.fieldset1 {
  border-style: hidden;
}

.legend1 {
  text-align: center;
  font-size: 1.6vw;
  font-weight: bold;
}

fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: hidden;
}

label {
  text-align: center;
  font-weight: bold;
}

#userRecords {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#userRecords legend {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .container {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 0px 0px 20px;
    font-size: 10px;
  }

  label {
    font-size: 15px;
  }

  .legend2 {
    font-size: 20px;
  }

  button[type="submit"] {
    padding: 5px 10px;
    font-size: 10px;
  }

  .userList label {
    max-width: 50px;
    font-size: 10px;
  }

  .userList button {
    font-size: 5px;
    max-width: 35px;
    padding: 5px 10px;
  }

  .result-table table {
    border-collapse: collapse;
    font-size: 10%;
  }

  .result-table th,
  .result-table td {
    font-size: 7.5px;
    font-weight: bold;
  }

  .result-table th {
    background-color: #79ac78;
    font-weight: lighter;
    font-weight: bold;
  }
}
