<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="monthlyWeightRecords">
        <legend>Monthly Weight Records</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Name of Child</th>
                <th>Birthday (dd/mm/yyyy)</th>
                <th>Age in Months</th>
                <th>Weight (kg.)</th>
                <th>Weight Status</th>
                <th>Date of Weighing</th>
                <th>Barangay</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of monthlyWeightRecords">
                <td>{{ record.monthlyWeightRecordsId }}</td>
                <td>{{ record.nameOfChild }}</td>
                <td>{{ record.birthday }}</td>
                <td>{{ record.ageInMonth }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.weightStatus }}</td>
                <td>{{ record.dateOfWeighing }}</td>
                <td>{{ record.barangay }}</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="monthlyWeightRecords.length === 0">No records available</p>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>
<router-outlet></router-outlet>
