<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="quarterlyRecords">
        <legend>Quarterly Health Records</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>Quarterly Records ID</th>
                <th>Name Of Child</th>
                <th>Birthday</th>
                <th>Age in Month</th>
                <th>Weight</th>
                <th>Height/Length</th>
                <th>Weight for Length/Height</th>
                <th>Nutritional Status (Nut1 Status)</th>
                <th>Barangay</th>
                <th>Measurement Month</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of quarterlyTable">
                <td>{{ record.childrenId }}</td>
                <td>{{ record.nameOfChild }}</td>
                <td>{{ record.birthday }}</td>
                <td>{{ record.ageInMonth }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.heightOrLength }}</td>
                <td>{{ record.weightForLengthOrHeight }}</td>
                <td>{{ record.nutritionalStatus }}</td>
                <td>{{ record.barangay }}</td>
                <td>{{ record.measurementMonth }}</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="quarterlyTable.length === 0">No health records available</p>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>
<router-outlet></router-outlet>
