<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="navbar">
        <div class="navbar-content">
          <div class="navbar-logo"></div>
          <div class="logo-text">SAN JUAN BATANGAS</div>
        </div>
        <ul class="navbar-list">
            <li>
                <a routerLink="/profiletable">
                    <i class="fa fa-table"></i> Children Profile Table
                </a>
            </li>
            <li>
                <a routerLink="/familyprofiletable">
                    <i class="fa fa-table"></i> Family Profile Table
                </a>
            </li>
            <li>
              <a routerLink="/childreninfo">
                  <i class="fa fa-arrow-left"></i> Back
              </a>
            </li>
            <li>
            <button class="menu-button">
              <i class="fa fa-reorder"></i>
              <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/profiletable">
                        <i class="fa fa-table"></i> Profile Table
                    </a>
                  </li>
                  <li>
                    <a href="#">
                        <i class="fa fa-bar-chart"></i> Barangay Ranking
                    </a>
                  </li>
                  <li>
                    <a href="#">
                        <i class="fa fa-heartbeat"></i> BMI Result
                    </a>
                  </li>
                  <li>
                    <a routerLink="/healthrecordstable">
                        <i class="fa fa-table"></i> Children Table
                    </a>
                  </li>
                  <li>
                    <a routerLink="/bwirtable">
                        <i class="fa fa-table"></i> Baseline Weight and Immunization Records table
                    </a>
                  </li>
                  <li>
                    <a routerLink="/monthlyheightrecordstable">
                        <i class="fa fa-table"></i> Monthly Records Result Table
                    </a>
                  </li>
                  <li>
                    <a routerLink="/home">
                        <i class="fa fa-sign-out"></i> Log Out
                    </a>
                  </li>
              </ul>
            </button>
          </li>
        </ul>
      </div>
      <div class="background-image"></div>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="familyProfile">
        <legend>Children Profile</legend>
        <div class="result-table">
        <table>
        <thead>
        <tr>
          <th>Household Number</th>
          <th>No. of Household Members</th>
          <th>Children (0-5 months)</th>
          <th>Children (6-23 months)</th>
          <th>Children (24-59 months)</th>
          <th>Children (below 60 months)</th>
          <th>Household Head/Spouse Name</th>
          <th>Occupation</th>
          <th>Educational Attainment</th>
          <th>Pregnant</th>
          <th>Family Planning</th>
          <th>EBF</th>
          <th>Mixed Milk Feeding</th>
          <th>Bottle Feeding</th>
          <th>Toilet Type</th>
          <th>Water Source</th>
          <th>Food Production Activity</th>
          <th>Using Iodized Salt</th>
          <th>Using IFR (Iron-Fortified Rice)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let family of families; let i = index" id="record-row">
          <td>{{ family.householdNumber }}</td>
          <td>{{ family.numberOfHouseholdMembers }}</td>
          <td>{{ family.children.age0To5Months }}</td>
          <td>{{ family.children.age6To23Months }}</td>
          <td>{{ family.children.age24To59Months }}</td>
          <td>{{ family.children.below60Months }}</td>
          <td>{{ family.householdHeadSpouseName }}</td>
          <td>{{ family.occupation }}</td>
          <td>{{ family.educationalAttainment }}</td>
          <td>{{ family.isPregnant ? 'Yes' : 'No' }}</td>
          <td>{{ family.practicesFamilyPlanning ? 'Yes' : 'No' }}</td>
          <td>{{ family.exclusiveBreastfeeding ? 'Yes' : 'No' }}</td>
          <td>{{ family.mixedMilkFeeding ? 'Yes' : 'No' }}</td>
          <td>{{ family.bottleFeeding ? 'Yes' : 'No' }}</td>
          <td>{{ family.toiletType }}</td>
          <td>{{ family.waterSource }}</td>
          <td>{{ family.foodProductionActivity }}</td>
          <td>{{ family.usingIodizedSalt ? 'Yes' : 'No' }}</td>
          <td>{{ family.usingIFR ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </fieldset>
  </div>
  </div>
</fieldset>