<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div id="updateCon">
  <div id="updateBaselineModal" #updateBaselineModal class="modal">
    <div class="modal-content">
      <form>
        <legend class="legend1">
          Baseline Weight and Immunization Records of PreSchool Children (0-23
          Months)
        </legend>
        <div>
          <label for="NameOfHouseholdHead">Name Of Household Head:</label>
          <input
            type="text"
            id="NameOfHouseholdHead"
            name="NameOfHouseholdHead"
            [(ngModel)]="baselineData.NameOfHouseholdHead"
            required
          />
        </div>
        <div>
          <label for="birthday">Date of Birth:</label>
          <input
            type="date"
            id="birthday"
            name="birthday"
            [(ngModel)]="baselineData.birthday"
            required
          />
        </div>
        <fieldset>
          <div>
            <legend>-Date of Immunization-</legend>
          </div>
          <div>
            <label for="bcgDate">BCG:</label>
            <input
              type="date"
              id="bcgDate"
              name="bcgDate"
              [(ngModel)]="baselineData.bcgDate"
            />
          </div>
          <div>
            <label for="dpt1Date">DPT 1:</label>
            <input
              type="date"
              id="dpt1Date"
              name="dpt1Date"
              [(ngModel)]="baselineData.dpt1Date"
            />
          </div>
          <div>
            <label for="dpt2Date">DPT 2:</label>
            <input
              type="date"
              id="dpt2Date"
              name="dpt2Date"
              [(ngModel)]="baselineData.dpt2Date"
            />
          </div>
          <div>
            <label for="dpt3Date">DPT 3:</label>
            <input
              type="date"
              id="dpt3Date"
              name="dpt3Date"
              [(ngModel)]="baselineData.dpt3Date"
            />
          </div>
          <div>
            <label for="polio1Date">Polio 1:</label>
            <input
              type="date"
              id="polio1Date"
              name="polio1Date"
              [(ngModel)]="baselineData.polio1Date"
            />
          </div>
          <div>
            <label for="polio2Date">Polio 2:</label>
            <input
              type="date"
              id="polio2Date"
              name="polio2Date"
              [(ngModel)]="baselineData.polio2Date"
            />
          </div>
          <div>
            <label for="polio3Date">Polio 3:</label>
            <input
              type="date"
              id="polio3Date"
              name="polio3Date"
              [(ngModel)]="baselineData.polio3Date"
            />
          </div>
          <div>
            <label for="measlesDate">Measles:</label>
            <input
              type="date"
              id="measlesDate"
              name="measlesDate"
              [(ngModel)]="baselineData.measlesDate"
            />
          </div>
        </fieldset>
        <div>
          <label>NBS Done? Y/N:</label>
          <input
            type="radio"
            id="nbsDoneYes"
            name="nbsDone"
            [(ngModel)]="baselineData.nbsDone"
            value="Yes"
            required
          />
          <label for="nbsDoneYes">Yes</label>
          <input
            type="radio"
            id="nbsDoneNo"
            name="nbsDone"
            [(ngModel)]="baselineData.nbsDone"
            value="No"
            required
          />
          <label for="nbsDoneNo">No</label>
        </div>
        <fieldset>
          <div>
            <legend>-Weighing-</legend>
          </div>
          <div>
            <label for="dateOfWeighing">Date of Weighing:</label>
            <input
              type="date"
              id="dateOfWeighing"
              name="dateOfWeighing"
              [(ngModel)]="baselineData.dateOfWeighing"
              required
            />
          </div>
          <div>
            <label for="ageInMonth">Age in Months:</label>
            <input
              type="text"
              id="ageInMonth"
              name="ageInMonth"
              [(ngModel)]="baselineData.ageInMonth"
              required
            />
          </div>
          <div>
            <label for="weight">Weight (kg.):</label>
            <input
              type="text"
              id="weight"
              name="weight"
              [(ngModel)]="baselineData.weight"
              required
            />
          </div>
          <div>
            <label for="weightStatus">Weight Status:</label>
            <input
              type="text"
              id="weightStatus"
              name="weightStatus"
              [(ngModel)]="baselineData.weightStatus"
              required
            />
          </div>
        </fieldset>
        <div>
          <label for="barangay">Barangay:</label>
          <select
            id="barangay"
            name="barangay"
            [(ngModel)]="baselineData.barangay"
          >
            <option value="ABUNG">ABUNG</option>
            <option value="BALAGBAG">BALAGBAG</option>
            <option value="BARUALTE">BARUALTE</option>
            <option value="BATAAN">BATAAN</option>
            <option value="BUHAY NA SAPA">BUHAY NA SAPA</option>
            <option value="BULSA">BULSA</option>
            <option value="CALICANTO">CALICANTO</option>
            <option value="CALITCALIT">CALITCALIT</option>
            <option value="CALUBCUB 1">CALUBCUB 1</option>
            <option value="CALUBCUB 2">CALUBCUB 2</option>
            <option value="CATMON">CATMON</option>
            <option value="COLOCONTO">COLOCONTO</option>
            <option value="ESCRIBANO">ESCRIBANO</option>
            <option value="HUGOM">HUGOM</option>
            <option value="IMELDA (TUBOG)">IMELDA (TUBOG)</option>
            <option value="JANAOJANAO">JANAOJANAO</option>
            <option value="LAIYA-IBABAO">LAIYA-IBABAO</option>
            <option value="LAIYA-APLAYA">LAIYA-APLAYA</option>
            <option value="LIBATO">LIBATO</option>
            <option value="LIPAHAN">LIPAHAN</option>
            <option value="MABALANOY">MABALANOY</option>
            <option value="NAGSAULAY">NAGSAULAY</option>
            <option value="MARAYKIT">MARAYKIT</option>
            <option value="MUZON">MUZON</option>
            <option value="PALAHANAN 1">PALAHANAN 1</option>
            <option value="PALAHANAN 2">PALAHANAN 2</option>
            <option value="PALINGOWAK">PALINGOWAK</option>
            <option value="PINAGBAYANAN">PINAGBAYANAN</option>
            <option value="POBLACION">POBLACION</option>
            <option value="POCTOL">POCTOL</option>
            <option value="PULANGBATO">PULANGBATO</option>
            <option value="PUTINGBUHANGIN">PUTINGBUHANGIN</option>
            <option value="QUIPOT">QUIPOT</option>
            <option value="SAMPIRO">SAMPIRO</option>
            <option value="SAPANGAN">SAPANGAN</option>
            <option value="SICO 1">SICO 1</option>
            <option value="SICO 2">SICO 2</option>
            <option value="SUBUKIN">SUBUKIN</option>
            <option value="TALAHIBAN 1">TALAHIBAN 1</option>
            <option value="TALAHIBAN 2">TALAHIBAN 2</option>
            <option value="TICALAN">TICALAN</option>
            <option value="TIPAZ">TIPAZ</option>
          </select>
        </div>
        <div>
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            [(ngModel)]="baselineData.date"
            required
          />
        </div>
        <div>
          <label for="measurementMonth">Measurement Month:</label>
          <select
            id="measurementMonth"
            name="measurementMonth"
            [(ngModel)]="baselineData.measurementMonth"
          >
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <button class="close" (click)="closeUpdateBaselineModal()">
          Cancel
        </button>

        <button class="btn btn-primary" (click)="updateBaseline()">
          Update Child
        </button>
      </form>
    </div>
  </div>
</div>

<fieldset class="fieldset1">
  <div class="filter-container">
    <label for="barangay">Barangay:</label>
    <select
      id="barangay"
      name="barangay"
      [(ngModel)]="selectedBarangay"
      (change)="filterRecords()"
      required
    >
      <option value="">ALL</option>
      <option value="ABUNG">ABUNG</option>
      <option value="BALAGBAG">BALAGBAG</option>
      <option value="BARUALTE">BARUALTE</option>
      <option value="BATAAN">BATAAN</option>
      <option value="BUHAY NA SAPA">BUHAY NA SAPA</option>
      <option value="BULSA">BULSA</option>
      <option value="CALICANTO">CALICANTO</option>
      <option value="CALITCALIT">CALITCALIT</option>
      <option value="CALUBCUB 1">CALUBCUB 1</option>
      <option value="CALUBCUB 2">CALUBCUB 2</option>
      <option value="CATMON">CATMON</option>
      <option value="COLOCONTO">COLOCONTO</option>
      <option value="ESCRIBANO">ESCRIBANO</option>
      <option value="HUGOM">HUGOM</option>
      <option value="IMELDA (TUBOG)">IMELDA (TUBOG)</option>
      <option value="JANAOJANAO">JANAOJANAO</option>
      <option value="LAIYA-IBABAO">LAIYA-IBABAO</option>
      <option value="LAIYA-APLAYA">LAIYA-APLAYA</option>
      <option value="LIBATO">LIBATO</option>
      <option value="LIPAHAN">LIPAHAN</option>
      <option value="MABALANOY">MABALANOY</option>
      <option value="NAGSAULAY">NAGSAULAY</option>
      <option value="MARAYKIT">MARAYKIT</option>
      <option value="MUZON">MUZON</option>
      <option value="PALAHANAN 1">PALAHANAN 1</option>
      <option value="PALAHANAN 2">PALAHANAN 2</option>
      <option value="PALINGOWAK">PALINGOWAK</option>
      <option value="PINAGBAYANAN">PINAGBAYANAN</option>
      <option value="POBLACION">POBLACION</option>
      <option value="POCTOL">POCTOL</option>
      <option value="PULANGBATO">PULANGBATO</option>
      <option value="PUTINGBUHANGIN">PUTINGBUHANGIN</option>
      <option value="QUIPOT">QUIPOT</option>
      <option value="SAMPIRO">SAMPIRO</option>
      <option value="SAPANGAN">SAPANGAN</option>
      <option value="SICO 1">SICO 1</option>
      <option value="SICO 2">SICO 2</option>
      <option value="SUBUKIN">SUBUKIN</option>
      <option value="TALAHIBAN 1">TALAHIBAN 1</option>
      <option value="TALAHIBAN 2">TALAHIBAN 2</option>
      <option value="TICALAN">TICALAN</option>
      <option value="TIPAZ">TIPAZ</option>
    </select>

    <label for="fromDate">FromDate:</label>
    <input
      type="date"
      id="fromDate"
      name="fromDate"
      [(ngModel)]="fromDate"
      (input)="filterRecords()"
    />

    <label for="toDate">ToDate:</label>
    <input
      type="date"
      id="toDate"
      name="toDate"
      [(ngModel)]="toDate"
      (input)="filterRecords()"
    />

    <label for="measurementMonth">Measurement Month:</label>
    <select
      id="measurementMonth"
      name="measurementMonth"
      [(ngModel)]="selectedMeasurementMonth"
      (change)="filterRecords()"
      required
    >
      <option value="">ALL</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>

    <button (click)="clearFilters()">Clear_Filters</button>

    <button (click)="downloadChildData()">
      <i class="fa fa-download"></i>Download
    </button>
  </div>
</fieldset>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="baselineRecords">
        <legend>Baseline Weight and Immunization Records</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>Household Number</th>
                <th>Name of Household Head</th>
                <th>Date of Birth</th>
                <th>NBS Done?</th>
                <th>BCG</th>
                <th>DPT 1</th>
                <th>DPT 2</th>
                <th>DPT 3</th>
                <th>Polio 1</th>
                <th>Polio 2</th>
                <th>Polio 3</th>
                <th>Measles</th>
                <th>Date of Weighing</th>
                <th>Age in Months</th>
                <th>Weight (kg.)</th>
                <th>Weight Status</th>
                <th>Barangay</th>
                <th>Date</th>
                <th>Measurement Month</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of baselineRecords">
                <td>{{ record.HouseholdNumber }}</td>
                <td>{{ record.NameOfHouseholdHead }}</td>
                <td>{{ record.birthday }}</td>
                <td>{{ record.nbsDone }}</td>
                <td>{{ record.bcgDate }}</td>
                <td>{{ record.dpt1Date }}</td>
                <td>{{ record.dpt2Date }}</td>
                <td>{{ record.dpt3Date }}</td>
                <td>{{ record.polio1Date }}</td>
                <td>{{ record.polio2Date }}</td>
                <td>{{ record.polio3Date }}</td>
                <td>{{ record.measlesDate }}</td>
                <td>{{ record.dateOfWeighing }}</td>
                <td>{{ record.ageInMonth }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.weightStatus }}</td>
                <td>{{ record.barangay }}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.measurementMonth }}</td>
                <td>
                  <a class="btn btn-sm btn-outline-dark"
                    ><i class="fas fa-up-right-from-square"></i
                  ></a>
                  <button
                    (click)="openUpdateBaselineModal(record)"
                    class="update btn btn-sm btn-outline-warning"
                  >
                    Update
                  </button>
                  <button
                    (click)="removeBaseline(record)"
                    class="delete btn btn-sm btn-outline-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="baselineRecords.length === 0">
            No baseline records available
          </p>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="pagination">
    <button
      class="paginationButton"
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span>Children Profile Page {{ currentPage }}</span>
    <button
      class="paginationButton"
      (click)="goToPage(currentPage + 1)"
      [disabled]="endIndex >= baselineRecords.length"
    >
      Next
    </button>
  </div>
</fieldset>
<router-outlet></router-outlet>
