#updateCon {
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 5px;
  font-size: 10px;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

form div {
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.legend1 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: hidden;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

#monthlyHeightRecords {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#monthlyHeightRecords legend {
  font-size: 20px;
  font-weight: bold;
}

.result-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 80%;
}

.result-table th,
.result-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.result-table th {
  background-color: #f2f2f2;
}

#record-row:hover {
  background-color: #e0e0e0;
}

.result-table p {
  margin: 10px 0;
  font-style: italic;
  color: #999;
}

.result-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result-table td {
  padding: 8px 12px;
}

#record-row:hover {
  background-color: #e0e0e0;
}

#updateMonthlyHeightModal {
  display: none;
}

.fieldset1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2% auto 1%;
  padding: 20px;
  max-width: 850px;
  border-style: hidden;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.filter-container label {
  flex: 2;
  text-align: center;
  background-color: #79AC78;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 2px;
  max-width: 80px;
  font-size: 10px;
}

.filter-container input[type="date"],
.filter-container input[type="text"],
.filter-container input[type="number"],
.filter-container select {
  flex: 2;
  padding: 5px;
  font-size: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.filter-container button {
  flex: 1;
  background-color: #79AC78;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
  max-width: 100px;
  font-size: 10px;
  text-align: center;
}

.filter-container button:hover {
  background-color: #B0D9B1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
  margin: 0 10px;
  font-weight: bold;
  padding: 8px 16px;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.paginationButton {
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin: 0 5px;
  background-color: #79AC78;
}

.pagination button:hover {
  background-color: #B0D9B1;
}
