<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container">
  <div class="navigation-buttons">
    <button routerLink="/home/nutritionalstatus">Nutritional Status</button>
    <button routerLink="/home/quarterlyrecords">Quarterly Records</button>
    <button routerLink="/home/baselineweight">BaseLine</button>
    <button routerLink="/home/monthlyrecords">Monthly Records</button>
  </div>

  <fieldset class="fieldset1">
    <legend class="legend1">
      Baseline Weight and Immunization Records of PreSchool Children (0-23
      Months)
    </legend>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="NameOfHouseholdHead">Name Of Household Head:</label>
        <input
          type="text"
          id="NameOfHouseholdHead"
          name="NameOfHouseholdHead"
          [value]="getSelectedChildNameOfHouseholdHead()"
          [(ngModel)]="baselineData.NameOfHouseholdHead"
          required
          autocomplete="off"
        />
      </div>
      <div>
        <label for="searchChild">Search Child:</label>
        <input
          list="childList"
          type="text"
          id="searchChild"
          name="searchChild"
          [(ngModel)]="searchInput"
          (input)="onSearchInputChange()"
          autocomplete="off"
        />
        <datalist id="childList">
          <option
            *ngFor="let child of filteredChildRecords"
            [value]="child.firstName + ' ' + child.lastName"
          >
            {{ child.firstName }} {{ child.lastName }}
          </option>
        </datalist>
      </div>
      <div>
        <label for="birthday">Date of Birth:</label>
        <input
          type="date"
          id="birthday"
          name="birthday"
          [value]="getSelectedChildBirthday()"
          [(ngModel)]="baselineData.birthday"
          (ngModelChange)="onBirthdayChange()"
          required
        />
      </div>
      <fieldset>
        <div>
          <legend>-Date of Immunization-</legend>
        </div>
        <div>
          <label for="bcgDate">BCG:</label>
          <input
            type="date"
            id="bcgDate"
            name="bcgDate"
            [(ngModel)]="baselineData.bcgDate"
          />
        </div>
        <div>
          <label for="dpt1Date">DPT 1:</label>
          <input
            type="date"
            id="dpt1Date"
            name="dpt1Date"
            [(ngModel)]="baselineData.dpt1Date"
          />
        </div>
        <div>
          <label for="dpt2Date">DPT 2:</label>
          <input
            type="date"
            id="dpt2Date"
            name="dpt2Date"
            [(ngModel)]="baselineData.dpt2Date"
          />
        </div>
        <div>
          <label for="dpt3Date">DPT 3:</label>
          <input
            type="date"
            id="dpt3Date"
            name="dpt3Date"
            [(ngModel)]="baselineData.dpt3Date"
          />
        </div>
        <div>
          <label for="polio1Date">Polio 1:</label>
          <input
            type="date"
            id="polio1Date"
            name="polio1Date"
            [(ngModel)]="baselineData.polio1Date"
          />
        </div>
        <div>
          <label for="polio2Date">Polio 2:</label>
          <input
            type="date"
            id="polio2Date"
            name="polio2Date"
            [(ngModel)]="baselineData.polio2Date"
          />
        </div>
        <div>
          <label for="polio3Date">Polio 3:</label>
          <input
            type="date"
            id="polio3Date"
            name="polio3Date"
            [(ngModel)]="baselineData.polio3Date"
          />
        </div>
        <div>
          <label for="measlesDate">Measles:</label>
          <input
            type="date"
            id="measlesDate"
            name="measlesDate"
            [(ngModel)]="baselineData.measlesDate"
          />
        </div>
      </fieldset>
      <div class="nbs-done-container">
        <div class="label-column">
          <label>NBS Done? Y/N:</label>
        </div>
        <div class="radio-group">
          <label for="nbsDoneYes">Yes</label>
          <input
            type="radio"
            id="nbsDoneYes"
            name="nbsDone"
            [(ngModel)]="baselineData.nbsDone"
            value="Yes"
            required
          />
          <label for="nbsDoneNo">No</label>
          <input
            type="radio"
            id="nbsDoneNo"
            name="nbsDone"
            [(ngModel)]="baselineData.nbsDone"
            value="No"
            required
          />
        </div>
      </div>
      <fieldset>
        <div>
          <legend>-Weighing-</legend>
        </div>
        <div>
          <label for="dateOfWeighing">Date of Weighing:</label>
          <input
            type="date"
            id="dateOfWeighing"
            name="dateOfWeighing"
            [(ngModel)]="baselineData.dateOfWeighing"
            required
            autocomplete="off"
          />
        </div>
        <div>
          <label for="ageInMonth">Age in Months:</label>
          <input
            type="text"
            id="ageInMonth"
            name="ageInMonth"
            [(ngModel)]="baselineData.ageInMonth"
            required
            autocomplete="off"
          />
        </div>
        <div>
          <label for="weight">Weight (kg.):</label>
          <input
            type="text"
            id="weight"
            name="weight"
            [(ngModel)]="baselineData.weight"
            (ngModelChange)="onweightStatusChange()"
            required
            autocomplete="off"
          />
        </div>
        <div>
          <label for="weightStatus">Weight Status:</label>
          <input
            type="text"
            id="weightStatus"
            name="weightStatus"
            [(ngModel)]="baselineData.weightStatus"
            required
            readonly
          />
        </div>
      </fieldset>
      <div>
        <label for="barangay">Barangay:</label>
        <select
          id="barangay"
          name="barangay"
          [value]="getSelectedChildBarangay()"
          [(ngModel)]="baselineData.barangay"
        >
          <option value="ABUNG">ABUNG</option>
          <option value="BALAGBAG">BALAGBAG</option>
          <option value="BARUALTE">BARUALTE</option>
          <option value="BATAAN">BATAAN</option>
          <option value="BUHAY NA SAPA">BUHAY NA SAPA</option>
          <option value="BULSA">BULSA</option>
          <option value="CALICANTO">CALICANTO</option>
          <option value="CALITCALIT">CALITCALIT</option>
          <option value="CALUBCUB 1">CALUBCUB 1</option>
          <option value="CALUBCUB 2">CALUBCUB 2</option>
          <option value="CATMON">CATMON</option>
          <option value="COLOCONTO">COLOCONTO</option>
          <option value="ESCRIBANO">ESCRIBANO</option>
          <option value="HUGOM">HUGOM</option>
          <option value="IMELDA (TUBOG)">IMELDA (TUBOG)</option>
          <option value="JANAOJANAO">JANAOJANAO</option>
          <option value="LAIYA-IBABAO">LAIYA-IBABAO</option>
          <option value="LAIYA-APLAYA">LAIYA-APLAYA</option>
          <option value="LIBATO">LIBATO</option>
          <option value="LIPAHAN">LIPAHAN</option>
          <option value="MABALANOY">MABALANOY</option>
          <option value="NAGSAULAY">NAGSAULAY</option>
          <option value="MARAYKIT">MARAYKIT</option>
          <option value="MUZON">MUZON</option>
          <option value="PALAHANAN 1">PALAHANAN 1</option>
          <option value="PALAHANAN 2">PALAHANAN 2</option>
          <option value="PALINGOWAK">PALINGOWAK</option>
          <option value="PINAGBAYANAN">PINAGBAYANAN</option>
          <option value="POBLACION">POBLACION</option>
          <option value="POCTOL">POCTOL</option>
          <option value="PULANGBATO">PULANGBATO</option>
          <option value="PUTINGBUHANGIN">PUTINGBUHANGIN</option>
          <option value="QUIPOT">QUIPOT</option>
          <option value="SAMPIRO">SAMPIRO</option>
          <option value="SAPANGAN">SAPANGAN</option>
          <option value="SICO 1">SICO 1</option>
          <option value="SICO 2">SICO 2</option>
          <option value="SUBUKIN">SUBUKIN</option>
          <option value="TALAHIBAN 1">TALAHIBAN 1</option>
          <option value="TALAHIBAN 2">TALAHIBAN 2</option>
          <option value="TICALAN">TICALAN</option>
          <option value="TIPAZ">TIPAZ</option>
        </select>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </fieldset>
</div>
<router-outlet></router-outlet>
