.navbar {
  background-color: #618264;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-logo {
  background-image: url("/assets/SanJuan1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.navbar .navbar-brand {
  font-size: 24px;
  color: #000000;
}

.navbar .navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.navbar .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.home img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  object-position: center;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 10px;
}

.home1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* aligns items to the top */
  gap: 10px;
}

.home1 div {
  width: 90%;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 12px;
}

.home1 div img {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
}

.home2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* aligns items to the top */
  gap: 10px;
}

.home2 div {
  width: 90%;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 8px;
}

.home2 div img {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.home3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* aligns items to the top */
  gap: 10px;
}

.home3 div {
  width: 90%;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 20px;
}

.home3 div img {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.homecontent {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.homecontent h1 {
  font-size: 40px;
  color: rgb(113, 238, 128);
  text-shadow: 3px 3px 3px black;
}
.homecontent a {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(113, 238, 128);
  text-shadow: 3px 3px 3px black;
}

@media screen and (max-width: 600px) {
  .home img {
    height: 700px;
  }
  .homecontent h1 {
    font-size: 40px;
  }
}
