<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div id="updateCon">
  <div id="updateNutritionalModal" #updateNutritionalModal class="modal">
    <div class="modal-content">
      <form>
        <legend class="legend1">
          Nutritional Status, Feeding and Micronutrient Supplementation Record
          of PreSchool Children
        </legend>
        <div>
          <label for="OPTPlus">Data of OPT Plus:</label>
          <input
            type="date"
            id="OPTPlus"
            name="OPTPlus"
            [(ngModel)]="nutritionalRecordsData.OPTPlus"
            required
          />
        </div>

        <div>
          <legend>-Nutritional Status-</legend>
        </div>
        <div>
          <label for="weightForAge">Weight for Age:</label>
          <input
            type="text"
            id="weightForAge"
            name="weightForAge"
            [(ngModel)]="nutritionalRecordsData.weightForAge"
            required
          />
        </div>
        <div>
          <label for="heightForAge">Height for Age:</label>
          <input
            type="text"
            id="heightForAge"
            name="heightForAge"
            [(ngModel)]="nutritionalRecordsData.heightForAge"
          />
        </div>
        <div>
          <label for="weightForHeight">Weight for Height:</label>
          <select
            id="weightForHeight"
            name="weightForHeight"
            [(ngModel)]="nutritionalRecordsData.weightForHeight"
          >
            <option value="SUW">SUW (Severely Underweight)</option>
            <option value="UW">UW (Underweight)</option>
            <option value="N">N (Normal)</option>
            <option value="Ob">OW (Obese)</option>
          </select>
        </div>

        <div>
          <label>Practicing EDF if child is below 6 mos. old:</label>
          <input
            type="radio"
            id="practicingEDFYes"
            name="practicingEDF"
            [(ngModel)]="nutritionalRecordsData.practicingEDF"
            value="Yes"
            required
          />
          <label for="practicingEDFYes">Yes</label>
          <input
            type="radio"
            id="practicingEDFNo"
            name="practicingEDF"
            [(ngModel)]="nutritionalRecordsData.practicingEDF"
            value="No"
            required
          />
          <label for="practicingEDFNo">No</label>
        </div>

        <div>
          <legend>-Solid Food Feeding-</legend>
        </div>
        <div>
          <label>Practicing CF if child is 6 months - 23 months old:</label>
          <input
            type="radio"
            id="practicingCFYes"
            name="practicingCF"
            [(ngModel)]="nutritionalRecordsData.practicingCF"
            value="Yes"
            required
          />
          <label for="practicingCFYes">Yes</label>
          <input
            type="radio"
            id="practicingCFNo"
            name="practicingCF"
            [(ngModel)]="nutritionalRecordsData.practicingCF"
            value="No"
            required
          />
          <label for="practicingCFNo">No</label>
        </div>
        <div>
          <label for="ageStartedCF">Age in months started CF:</label>
          <input
            type="text"
            id="ageStartedCF"
            name="ageStartedCF"
            [(ngModel)]="nutritionalRecordsData.ageStartedCF"
          />
        </div>
        <div>
          <label>Current beneficiary of SF (Supplementary Food) Y/N:</label>
          <input
            type="radio"
            id="beneficiarySFYes"
            name="beneficiarySF"
            [(ngModel)]="nutritionalRecordsData.beneficiarySF"
            value="Yes"
            required
          />
          <label for="beneficiarySFYes">Yes</label>
          <input
            type="radio"
            id="beneficiarySFNo"
            name="beneficiarySF"
            [(ngModel)]="nutritionalRecordsData.beneficiarySF"
            value="No"
            required
          />
          <label for="beneficiarySFNo">No</label>
        </div>

        <div>
          <legend>-Micronutrient Supplementation-</legend>
        </div>
        <div>
          <label for="vitaminALastReceived"
            >Vitamin A Last Date Received:</label
          >
          <input
            type="date"
            id="vitaminALastReceived"
            name="vitaminALastReceived"
            [(ngModel)]="nutritionalRecordsData.vitaminALastReceived"
          />
        </div>
        <div>
          <label for="ironReceived">Iron Drops / Syrup Received (Y/N):</label>
          <select
            id="ironReceived"
            name="ironReceived"
            [(ngModel)]="nutritionalRecordsData.ironReceived"
          >
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div>
          <label for="usingMNP">Using MNP (Y/N):</label>
          <select
            id="usingMNP"
            name="usingMNP"
            [(ngModel)]="nutritionalRecordsData.usingMNP"
          >
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>

        <button class="close" (click)="closeUpdateNutritionalModal()">
          Cancel
        </button>

        <button class="btn btn-primary" (click)="updateNutritional()">
          Update Child
        </button>
      </form>
    </div>
  </div>
</div>

<div id="viewCon">
  <div id="viewNutritionalModal" #viewNutritionalModal class="modal">
    <div class="modal-content">
      <fieldset id="nutritionalStatus">
        <legend>Nutritional Status</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>Name Of Child</th>
                <th>Father's Name</th>
                <th>Mother's Name</th>
                <th>Barangay</th>
                <th>Date Of Birth</th>
                <th>Date Of OPTs</th>
                <th>Age In Month</th>
                <th>Weight (Kg.)</th>
                <th>Height (CM)</th>
                <th>Weigth For Age</th>
                <th>Height For Age</th>
                <th>Weigth For Height</th>
                <th>Practicing EDF Below 6Months?</th>
                <th>Practicing CF 6-23Months</th>
                <th>Age In Months Starting CF</th>
                <th>Current beneficiary of SF</th>
                <th>Vitamin A Last Date Received</th>
                <th>Iron Drops / Syrup Received</th>
                <th>Using MNP</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ viewnutritionalRecordsData.nameOfChild }}
                </td>
                <td>{{ viewnutritionalRecordsData.fatherName }}</td>
                <td>{{ viewnutritionalRecordsData.motherName }}</td>
                <td>{{ viewnutritionalRecordsData.barangay }}</td>
                <td>{{ viewnutritionalRecordsData.birthday }}</td>
                <td>{{ viewnutritionalRecordsData.OPTPlus }}</td>
                <td>{{ viewnutritionalRecordsData.ageInMonths }}</td>
                <td>{{ viewnutritionalRecordsData.weight }}</td>
                <td>{{ viewnutritionalRecordsData.height }}</td>
                <td>{{ viewnutritionalRecordsData.weightForAge }}</td>
                <td>{{ viewnutritionalRecordsData.heightForAge }}</td>
                <td>{{ viewnutritionalRecordsData.weightForHeight }}</td>
                <td>{{ viewnutritionalRecordsData.practicingEDF }}</td>
                <td>{{ viewnutritionalRecordsData.practicingCF }}</td>
                <td>{{ viewnutritionalRecordsData.ageStartedCF }}</td>
                <td>{{ viewnutritionalRecordsData.beneficiarySF }}</td>
                <td>
                  {{ viewnutritionalRecordsData.vitaminALastReceived }}
                </td>
                <td>{{ viewnutritionalRecordsData.ironReceived }}</td>
                <td>{{ viewnutritionalRecordsData.usingMNP }}</td>
                <td>
                  <button
                    (click)="closeViewNutritionalModal()"
                    class="delete btn btn-sm btn-outline-danger"
                  >
                    Close
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="nutritionalRecords.length === 0">
            No nutritional records available
          </p>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<fieldset class="fieldset1">
  <div>
    <label for="searchChild">Search Child:</label>
    <input
      list="childList"
      type="text"
      id="searchChild"
      name="searchChild"
      [(ngModel)]="searchInput"
      (input)="onSearchInputChange()"
    />
    <datalist id="childList">
      <option
        *ngFor="let child of nutritionalRecords"
        [value]="child.nameOfChild"
      >
        {{ child.nameOfChild }}
      </option>
    </datalist>
  </div>
  <div class="filter-container">
    <label for="barangay">Barangay:</label>
    <select
      id="barangay"
      name="barangay"
      [(ngModel)]="selectedBarangay"
      (change)="filterRecords()"
      required
    >
      <option value="">ALL</option>
      <option value="ABUNG">ABUNG</option>
      <option value="BALAGBAG">BALAGBAG</option>
      <option value="BARUALTE">BARUALTE</option>
      <option value="BATAAN">BATAAN</option>
      <option value="BUHAY NA SAPA">BUHAY NA SAPA</option>
      <option value="BULSA">BULSA</option>
      <option value="CALICANTO">CALICANTO</option>
      <option value="CALITCALIT">CALITCALIT</option>
      <option value="CALUBCUB 1">CALUBCUB 1</option>
      <option value="CALUBCUB 2">CALUBCUB 2</option>
      <option value="CATMON">CATMON</option>
      <option value="COLOCONTO">COLOCONTO</option>
      <option value="ESCRIBANO">ESCRIBANO</option>
      <option value="HUGOM">HUGOM</option>
      <option value="IMELDA (TUBOG)">IMELDA (TUBOG)</option>
      <option value="JANAOJANAO">JANAOJANAO</option>
      <option value="LAIYA-IBABAO">LAIYA-IBABAO</option>
      <option value="LAIYA-APLAYA">LAIYA-APLAYA</option>
      <option value="LIBATO">LIBATO</option>
      <option value="LIPAHAN">LIPAHAN</option>
      <option value="MABALANOY">MABALANOY</option>
      <option value="NAGSAULAY">NAGSAULAY</option>
      <option value="MARAYKIT">MARAYKIT</option>
      <option value="MUZON">MUZON</option>
      <option value="PALAHANAN 1">PALAHANAN 1</option>
      <option value="PALAHANAN 2">PALAHANAN 2</option>
      <option value="PALINGOWAK">PALINGOWAK</option>
      <option value="PINAGBAYANAN">PINAGBAYANAN</option>
      <option value="POBLACION">POBLACION</option>
      <option value="POCTOL">POCTOL</option>
      <option value="PULANGBATO">PULANGBATO</option>
      <option value="PUTINGBUHANGIN">PUTINGBUHANGIN</option>
      <option value="QUIPOT">QUIPOT</option>
      <option value="SAMPIRO">SAMPIRO</option>
      <option value="SAPANGAN">SAPANGAN</option>
      <option value="SICO 1">SICO 1</option>
      <option value="SICO 2">SICO 2</option>
      <option value="SUBUKIN">SUBUKIN</option>
      <option value="TALAHIBAN 1">TALAHIBAN 1</option>
      <option value="TALAHIBAN 2">TALAHIBAN 2</option>
      <option value="TICALAN">TICALAN</option>
      <option value="TIPAZ">TIPAZ</option>
    </select>

    <label for="fromDate">From Date:</label>
    <input
      type="date"
      id="fromDate"
      name="fromDate"
      [(ngModel)]="fromDate"
      (input)="filterRecords()"
    />

    <label for="toDate">To Date:</label>
    <input
      type="date"
      id="toDate"
      name="toDate"
      [(ngModel)]="toDate"
      (input)="filterRecords()"
    />

    <label for="measurementMonth">Month Measured:</label>
    <select
      id="measurementMonth"
      name="measurementMonth"
      [(ngModel)]="selectedMonth"
      (change)="filterRecords()"
      required
    >
      <option value="">ALL</option>
      <option value="0">January</option>
      <option value="1">February</option>
      <option value="2">March</option>
      <option value="3">April</option>
      <option value="4">May</option>
      <option value="5">June</option>
      <option value="6">July</option>
      <option value="7">August</option>
      <option value="8">September</option>
      <option value="9">October</option>
      <option value="10">November</option>
      <option value="11">December</option>
    </select>

    <button (click)="clearFilters()">Clear Filters</button>

    <button (click)="downloadChildData()">
      <i class="fa fa-download"></i>Download
    </button>
  </div>
</fieldset>

<div class="result-container">
  <fieldset id="nutritionalStatus">
    <legend>Nutritional Status</legend>
    <div class="result-table">
      <table>
        <thead>
          <tr>
            <th>Nutritional ID</th>
            <th>Name Of Child</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Barangay</th>
            <th>Birthday</th>
            <th>Age In Months</th>
            <th>Weight (Kg.)</th>
            <th>Height (CM)</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let record of nutritionalRecords.slice(startIndex, endIndex)
            "
          >
            <td>{{ record.nutritionalId }}</td>
            <td>
              {{ record.nameOfChild }}
            </td>
            <td>{{ record.fatherName }}</td>
            <td>{{ record.motherName }}</td>
            <td>{{ record.barangay }}</td>
            <td>{{ record.birthday }}</td>
            <td>{{ record.ageInMonths }}</td>
            <td>{{ record.weight }}</td>
            <td>{{ record.height }}</td>
            <td>{{ record.Date | date : "medium" : "Asia/Manila" }}</td>
            <td>
              <a class="btn btn-sm btn-outline-dark"
                ><i class="fas fa-up-right-from-square"></i
              ></a>
              <button
                (click)="openViewDataNutritionalModal(record)"
                class="update btn btn-sm btn-outline-warning"
              >
                View
              </button>
              <button
                (click)="openUpdateNutritionalModal(record)"
                class="update btn btn-sm btn-outline-warning"
              >
                Update
              </button>
              <button
                (click)="removeNutritional(record)"
                class="delete btn btn-sm btn-outline-danger"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="nutritionalRecords.length === 0">
        No nutritional records available
      </p>
    </div>
  </fieldset>
</div>
<div class="pagination">
  <button
    class="paginationButton"
    (click)="goToPage(currentPage - 1)"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <span>Children Profile Page {{ currentPage }}</span>
  <button
    class="paginationButton"
    (click)="goToPage(currentPage + 1)"
    [disabled]="endIndex >= nutritionalRecords.length"
  >
    Next
  </button>
</div>
