<div class="barangay-ranking">
  <fieldset id="bmiranking">
    <section class="barangay-nutritional-status">
      <h2>Barangay WeightForHeight Nutritional Status</h2>
      <div class="ranking-table">
        <label for="monthSelect">Select Month: </label>
        <select
          id="monthSelect"
          [(ngModel)]="selectedMonth"
          (change)="onMonthYearSelect()"
        >
          <option value="0">January</option>
          <option value="1">February</option>
          <option value="2">March</option>
          <option value="3">April</option>
          <option value="4">May</option>
          <option value="5">June</option>
          <option value="6">July</option>
          <option value="7">August</option>
          <option value="8">September</option>
          <option value="9">October</option>
          <option value="10">November</option>
          <option value="11">December</option>
        </select>
        <label for="monthSelect"> Select Year: </label>

        <input
          type="number"
          id="monthSelect"
          [(ngModel)]="selectedYear"
          (change)="onMonthYearSelect()"
        />
        <table class="nutritional-status-table">
          <thead>
            <tr>
              <th>Barangay</th>
              <th>Severely Underweight</th>
              <th>Underweight</th>
              <th>Normal</th>
              <th>Obese</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let barangay of barangayData">
              <td>{{ barangay.barangay }}</td>
              <td
                (click)="
                  showDetailedInfoByCategory(
                    barangay.barangay,
                    'SUW',
                    barangay.severelyUnderweight
                  )
                "
              >
                {{ barangay.severelyUnderweight }}
              </td>
              <td
                (click)="
                  showDetailedInfoByCategory(
                    barangay.barangay,
                    'UW',
                    barangay.underweight
                  )
                "
              >
                {{ barangay.underweight }}
              </td>
              <td
                (click)="
                  showDetailedInfoByCategory(
                    barangay.barangay,
                    'N',
                    barangay.normal
                  )
                "
              >
                {{ barangay.normal }}
              </td>
              <td
                (click)="
                  showDetailedInfoByCategory(
                    barangay.barangay,
                    'O',
                    barangay.obese
                  )
                "
              >
                {{ barangay.obese }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal" *ngIf="showModal">
          <div class="modal-content">
            <span (click)="closeModal()">&times;</span>
            <div *ngIf="selectedBarangayInfo.length > 0">
              <table>
                <thead>
                  <tr>
                    <th>Child Name</th>
                    <th>Weight</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let info of selectedBarangayInfo.slice(
                        startIndex,
                        endIndex
                      )
                    "
                  >
                    <td>{{ info.nameOfChild }}</td>
                    <td>{{ info.weight }}</td>
                    <td>{{ info.weightForHeight }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="pagination">
            <button
              class="paginationButton"
              (click)="goToPage(currentPage - 1)"
              [disabled]="currentPage === 1"
            >
              Previous
            </button>
            <span>Weight For Height {{ currentPage }}</span>
            <button
              class="paginationButton"
              (click)="goToPage(currentPage + 1)"
              [disabled]="endIndex >= selectedBarangayInfo.length"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </section>
  </fieldset>
</div>
