/* Styling for the table */
fieldset {
  border-radius: 4%;
  border-color: #ccc;
  margin-bottom: 3%;
  margin-top: 3%;
  border-style: hidden;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.6vw;
}

#bmiranking {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#bmiranking legend {
  font-size: 20px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styling for the header and section title */
h2 {
  margin: 20px 0;
  font-size: 24px;
}

.barangay-ranking {
  margin: 10px;
}

/* Styling for the section container */
.section-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Center the table in the section container */
.table-container {
  overflow-x: auto;
}

.table-container {
  overflow-x: auto;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10;
}

.modal-content span {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: red;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 10px;
  margin: 0 10px;
  font-weight: bold;
  padding: 8px 16px;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.paginationButton {
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px;
  background-color: #79ac78;
}

.pagination button:hover {
  background-color: #b0d9b1;
}

/* Adjust table responsiveness for small screens */
@media (max-width: 768px) {
  #bmiranking {
    padding: 5px;
    margin-top: 10px;
  }

  #bmiranking h2 {
    font-size: 80%;
  }

  .ranking-table table {
    border-collapse: collapse;
    font-size: 5%;
  }

  .ranking-table label {
    border-collapse: collapse;
    font-size: 10px;
    font-weight: bold;
  }

  .ranking-table input[type="number"],
  .ranking-table select {
    font-size: 10px;
    width: 20%;
  }

  th,
  td {
    max-width: 100%;
    font-size: 10px;
    font-weight: bold;
  }

  .modal {
    left: 50%;
    top: 50%;
    width: 250px;
    height: 300px;
  }

  .pagination {
    font-size: 7px;
  }

  .pagination Button {
    font-size: 10px;
    padding: 0px 10px;
  }
}
