<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div id="updateCon">
  <div id="updateHealthModal" #updateHealthModal class="modal">
    <div class="modal-content">
      <form (ngSubmit)="updateHealth()">
        <div>
          <label for="childrenName">Children Name:</label>
          <input
            type="text"
            id="nameOfChild"
            name="nameOfChild"
            [(ngModel)]="healthRecordsData.nameOfChild"
            required
          />
        </div>
        <div>
          <label for="age">Age:</label>
          <input
            type="text"
            id="age"
            name="age"
            [(ngModel)]="healthRecordsData.age"
            required
          />
        </div>

        <div>
          <label for="weight">Weight:</label>
          <input
            type="text"
            id="weight"
            name="weight"
            [(ngModel)]="healthRecordsData.weight"
            required
          />
        </div>
        <div>
          <label for="height">Height:</label>
          <input
            type="text"
            id="height"
            name="height"
            [(ngModel)]="healthRecordsData.height"
            required
          />
        </div>
        <div>
          <label for="vitamin">Vitamin:</label>
          <select
            id="vitamin"
            name="vitamin"
            [(ngModel)]="healthRecordsData.vitamin"
            required
          >
            <option value="vitamin-a">Vitamin A</option>
            <option value="vitamin-b">Vitamin B</option>
          </select>
        </div>
        <div>
          <label for="lastDateReceived">Last Date Received:</label>
          <input
            type="date"
            id="lastDateReceived"
            name="lastDateReceived"
            [(ngModel)]="healthRecordsData.lastDateReceived"
            required
          />
        </div>
        <div>
          <label for="weightForAge">Weight for Age:</label>
          <select
            id="weightForAge"
            name="weightForAge"
            [(ngModel)]="healthRecordsData.weightForAge"
          >
            <option value="SUW">SUW (Severely Underweight)</option>
            <option value="UW">UW (Underweight)</option>
            <option value="N">N (Normal)</option>
            <option value="OW">OW (Overweight)</option>
          </select>
        </div>
        <div>
          <label for="heightForAge">Height for Age:</label>
          <select
            id="heightForAge"
            name="heightForAge"
            [(ngModel)]="healthRecordsData.heightForAge"
          >
            <option value="SSt">SUW (Severely Stunded)</option>
            <option value="St">St (Stunded)</option>
            <option value="N">N (Normal)</option>
            <option value="T">T (Tall)</option>
          </select>
        </div>
        <div>
          <label for="weightForHeight">Weight for Height:</label>
          <select
            id="weightForHeight"
            name="weightForHeight"
            [(ngModel)]="healthRecordsData.weightForHeight"
          >
            <option value="SUW">SUW (Severely Underweight)</option>
            <option value="UW">UW (Underweight)</option>
            <option value="N">N (Normal)</option>
            <option value="Ob">OW (Obese)</option>
          </select>
        </div>
        <div>
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            [(ngModel)]="healthRecordsData.date"
            required
          />
        </div>
      </form>
      <button class="close" (click)="closeUpdateHealthModal()">Cancel</button>

      <button class="btn btn-primary" (click)="updateHealth()">
        Update Child
      </button>
    </div>
  </div>
</div>

<fieldset>
  <div>
    <div class="result-container">
      <fieldset id="healthRecords">
        <legend>Children Health Records</legend>
        <div class="result-table">
          <table>
            <thead>
              <tr>
                <th>Health Records Id</th>
                <th>Children Name</th>
                <th>Age</th>
                <th>Weight (kg)</th>
                <th>Height (cm)</th>
                <th>Vitamin</th>
                <th>Late Date Received</th>
                <th>Weight for Age</th>
                <th>Height for Age</th>
                <th>Weight For Height</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of healthRecords">
                <td>{{ record.healthRecordsId }}</td>
                <td>{{ record.childrenName }}</td>
                <td>{{ record.age }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.height }}</td>
                <td>{{ record.vitamin }}</td>
                <td>{{ record.lastDateReceived }}</td>
                <td>{{ record.weightForAge }}</td>
                <td>{{ record.heightForAge }}</td>
                <td>{{ record.weightForHeight }}</td>
                <td>{{ record.date }}</td>
                <td>
                  <a class="btn btn-sm btn-outline-dark"
                    ><i class="fas fa-up-right-from-square"></i
                  ></a>
                  <button
                    (click)="openUpdateHealthModal(record)"
                    class="update btn btn-sm btn-outline-warning"
                  >
                    Update
                  </button>
                  <button
                    (click)="removeHealth(record)"
                    class="delete btn btn-sm btn-outline-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="healthRecords.length === 0">No health records available</p>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>
