<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="navbar">
  <div class="navbar-content">
    <div class="navbar-logo"></div>
    <div class="logo-text">SAN JUAN BATANGAS</div>
  </div>
  <ul class="navbar-list">
    <li *ngIf="userRole === 'bhw'">
      <a routerLink="/home/dashboard">
        Dashboard
        <i class="fa fa-bar-chart"></i>
      </a>
    </li>
    <li *ngIf="userRole === 'bhw'">
      <a routerLink="/home/childreninfo">
        Children Profile
        <i class="fa fa-user-circle"></i>
      </a>
    </li>
    <li *ngIf="userRole === 'bhw'">
      <a routerLink="/home/nutritionalstatus">
        Children Records
        <i class="fa fa-file-text-o"></i>
      </a>
    </li>
    <li *ngIf="userRole === 'bhw'">
      <a routerLink="/home/monthlyweight">
        Monthly Children Status
        <i class="fa fa-calendar"></i>
      </a>
    </li>
    <li *ngIf="userRole === 'bhw'">
      <a routerLink="/home/bmi">
        BMI Calculator
        <i class="fa fa-calculator"></i>
      </a>
    </li>
    <li *ngIf="userRole === 'admin'">
      <a routerLink="/home/dashboard">
        <i class="fa fa-bar-chart"></i> Dashboard
      </a>
    </li>
    <li li *ngIf="userRole === 'admin'">
      <a routerLink="/home/useraccount"> <i class="fa fa-user"></i> Create BHW Account </a>
    </li>
    <li *ngIf="userRole === 'admin'">
      <a routerLink="/home/userlist">
        <i class="fa fa-user"></i> BHW User List
      </a>
    </li>
    <li *ngIf="userRole === 'admin'">
      <a routerLink="/home/rankingbmi">
        <i class="fa fa-bar-chart"></i> BMI Barangay Ranking
      </a>
    </li>
    <li>
      <button class="menu-button">
        <i class="fa fa-reorder"></i>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="/home/profiletable"
              ><i class="fa fa-table"></i> Children Profile Table</a
            >
          </li>
          <li *ngIf="userRole === 'bhw'">
            <a routerLink="/home/rankingbmi">
              <i class="fa fa-bar-chart"></i> BMI Barangay Ranking
            </a>
          </li>
          <li>
            <a routerLink="/home/bmiresult">
              <i class="fa fa-table"></i> Children BMI Result Table
            </a>
          </li>
          <li>
            <app-monthly-dropdown></app-monthly-dropdown>
          </li>
          <li>
            <app-nutritional-dropdown></app-nutritional-dropdown>
          </li>
          <li>
            <a routerLink="/home/quarterlytable">
              <i class="fa fa-table"></i> Quarterly Records Table
            </a>
          </li>
          <li>
            <a routerLink="/home/nutritionaltable">
              <i class="fa fa-table"></i> Nutritional Records Table
            </a>
          </li>
          <li>
            <a routerLink="/home/bwirtable">
              <i class="fa fa-table"></i> Baseline Weight and Immunization
              Records table
            </a>
          </li>
          <li>
            <a (click)="logout()"> <i class="fa fa-sign-out"></i> Log Out </a>
          </li>
        </ul>
      </button>
    </li>
  </ul>
</div>
<div class="background-image"></div>
<div>
  <router-outlet></router-outlet>
</div>
